.btn
  border-radius: $borderRadius100
  padding: 11px 30px
  max-height: 48px
  //min-width: 170px
  @include uppercase
  font-weight: $font-weight-bold

  &:hover
    opacity: 0.8

  &:focus
    box-shadow: none

  &-arrow-right
    text-align: left
    justify-content: space-between
    display: inline-flex
    align-items: center

    &:after
      content: ''
      background: url(../img/general-imgs/btns/arrow-long-right.svg) no-repeat center
      width: 22px
      height: 14px
      display: inline-block
      margin-left: 8px

  &-light-watch
    svg
      position: relative
      top: -2px

  &-main
    min-width: 240px

    @media (max-width: $screen-sm)
      justify-content: center

  &-download
    &:after
      content: ''
      width: 16px
      height: 15px
      display: inline-block
      margin-left: 8px



.hero-btns
  max-width: 500px
  margin: 38px 0
  @include flex-between-center

  @media (max-width: $screen-sm)
    max-width: 100%

  .btn
    @include uppercase
    flex: 1
    max-width: 100%

    &:first-child
      @media (min-width: $screen-md)
        margin-right: 14px

      @media (max-width: $screen-sm)
        flex: 0 0 100%
        margin-bottom: 20px

.btn-group-language
  @media (min-width: $screen-lg)
    flex: 0 0 170px
    max-width: 170px

  .btn
    height: 33px
    min-width: 170px
    padding: 3px 10px
    border-radius: $borderRadius4
    font-weight: $font-weight-normal

  .dropdown-toggle
    @include flex-center-items

    &:after
      border: none
      width: 13px
      height: 8px
      //mask-image: url(../img/general-imgs/btns/arrow-stroke.svg)
      //mask-repeat: no-repeat
      //mask-position: center
      background: url(../img/general-imgs/btns/arrow-stroke.svg) no-repeat center
      position: absolute
      right: 10px

.stores-col
  flex: 1
  max-width: 270px

  @media (max-width: $screen-lg)
    padding-top: 30px

.scrolltop
  appearance: none
  background: unset
  border: transparent

  @media (max-width: $screen-lg)
    position: fixed
    right: 40px
    z-index: 9
    bottom: 50px

  &:before
    content: ''
    width: 17px
    height: 17px
    background: url(../img/general-imgs/btns/arrow-long-black.svg) no-repeat center bottom
    background-size: contain
    display: inline-block
    transform: rotate(-90deg)
    margin-right: 5px

.icon-accept
  flex: 1
  max-width: 262px








