h1, h2, h3, h4, h5, h6
  color: $colorH

h1
  font-size: $font-size-52
  line-height: $lineHeight120
  font-weight: $font-weight-bold
  margin: 15px 0 8px
  @media (max-width: $screen-lg)
    font-size: $font-size-48

  @media (max-width: $screen-sm)
    font-size: $font-size-32

h2
  font-weight: $font-weight-bold
  font-size: $font-size-44
  line-height: $lineHeight140
  margin-bottom: 28px
  text-align: center

  @media (max-width: $screen-lg)
    font-size: $font-size-28
    line-height: $lineHeight120
