.bootstrap-datetimepicker-widget a:hover
  text-decoration: unset

.btn-group-vertical > .btn
  position: relative
  -ms-flex: 1 1 auto
  flex: 1 1 auto

.btn-group
  > .btn
    position: relative
    -ms-flex: 1 1 auto
    flex: 1 1 auto

  display: inline-flex

.btn-group-vertical
  display: inline-flex

.hero-calc
  height: auto
  width: 100%
  max-width: 445px
  padding: 0px 32px 30px
  background: $colorWhite
  box-shadow: 0px 6px 26px -6px rgba(24, 39, 75, 0.08), 0px 8px 36px -4px rgba(24, 39, 75, 0.04)
  border-radius: 20px
  margin-top: 30px

  @media (max-width: $screen-lg)
    margin-top: 50px

  @media (max-width: $screen-lg) and (min-width: $screen-md)
    margin-left: 15px
    margin-right: 15px

.hero-calc-folder-shape
  position: relative
  width: 100%

.calc-folder-shape-inner
  width: 100%
  height: 45px
  position: absolute
  top: -29px
  overflow: hidden
  left: -32px

  @media (max-width: $screen-sm)
    left: -20px

  &:before
    content: ''
    clip-path: polygon(0% 0, 38% 0, 45% 23%, 100% 23%, 100% 100%, 0 100%)
    display: block
    width: 600px
    height: 150px
    position: absolute
    top: 0
    left: 0px
    background: $colorWhite
    border-radius: 20px

.calc-new
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  position: relative

  .calc-new-wrap
    width: calc(100% - 80px)
    margin: 0 40px

  .btn-secondary
    border: none

  .mainTitle
    font-weight: 500
    font-size: 24px
    line-height: 28px
    color: #333333
    margin: 0 0 28px

  .btn-secondary
    &:focus, &:hover
      border: none

  .js-example-basic-single
    background: $colorWhite
    border: 1px solid $calcBorderField
    box-sizing: border-box
    border-radius: 4px
    height: 48px
    position: relative

  .arrow-calc
    top: 46px
    z-index: 5
    position: absolute
    right: 15px

.form-group .title-calc
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 16px
  color: #616869
  margin-bottom: .5rem

.calc-new
  .input-group-addon
    background: url("../img/general-imgs/calculator/datetimepicker.svg") no-repeat center
    border-radius: 0 4px 4px 0

  .date
    .form-control
      cursor: pointer
      height: 48px
      padding: 0 52px 0 15px
      font-style: normal
      font-weight: 500
      font-size: 12px
      line-height: 50px
      color: #1A2226
      background: 0 0
      box-shadow: none
      -webkit-appearance: none
      width: 100%
      border-radius: 4px !important
      overflow: hidden
      position: relative
      z-index: 8
      border: 1px solid $calcBorderField

    display: flex
    align-items: center
    border-radius: 0

  .row:after
    display: none

.select2-container--default
  &.select2-container--open .select2-selection--single .select2-selection__arrow b
    transform: rotate(180deg)

  .select2-search--dropdown .select2-search__field
    \::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder
      color: #BABABA
      font-size: 14px

.select2-search--dropdown
  padding: 16px 14px 5px !important

.select2-container--default
  .select2-search--dropdown .select2-search__field
    height: 40px
    padding: 7px 15px
    border-radius: 6px
    border: 1px solid $calcBorderField
    background: url(../img/general-imgs/calculator/icon-search.svg) no-repeat right 11px top 50%

  .select2-results__option .select2-results__option
    padding-left: 0
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 1
    display: flex
    align-items: center
    color: #1A2226
    padding: 18px 14px

.select2-dropdown
  border: 1px solid #F8F8F8
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15)

.select2-container--default .select2-results__group
  cursor: default
  display: block
  padding-left: 0
  font-style: normal
  font-weight: 500
  font-size: 12px
  padding: 15px 14px 5px
  text-transform: uppercase

.select2-results__option
  font-size: 14px
  color: #1A2226
  padding: 10px 15px 18px

.select2-container--default
  .select2-results__option .select2-results__option--highlighted, .select2-results__option--selected, .select2-results__option[aria-selected=true]
    background: #F8F8F8

  .select2-results__option--highlighted[aria-selected]
    background: #F8F8F8
    color: #1A2226

  .select2-results__option[aria-selected=true]
    font-weight: 500

  .select2-results__option--highlighted.select2-results__option--selectable
    background: #FCF8F6
    color: #1A2226

.select2.select2-container
  width: 100% !important
  font-size: 14px
  color: #1A2226

.select2-container--default .select2-selection--single
  .select2-selection__rendered
    line-height: 48px !important

  .select2-selection__arrow
    top: 12px
    right: 18px
    background: url("../img/general-imgs/btns/arrow-stroke.svg") no-repeat center

.select2-container .select2-selection--single
  border: 1px solid $calcBorderField
  height: 48px !important
  outline: 0 !important

  //&:hover
    border-color: #525455

  .select2-selection__rendered
    padding-left: 16px
    padding-right: 35px
    font-weight: 500
    color: #232340
    font-size: 14px

.select2-container--default
  .select2-selection--single .select2-selection__arrow b, &.select2-container--open .select2-selection--single .select2-selection__arrow b
    display: none

  .select2-selection--single
    border-radius: 4px !important

.select2-results__option[role="group"]
  border-bottom: 1px solid #EDE8E1

.calc-new
  .form-group
    margin-bottom: 30px
    position: relative
    width: 100%

  .date .icon-close-datetimepicker
    width: 48px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: 0
    position: absolute
    right: 0
    top: 0
    bottom: 0

.wrap-inline-block .title-calc
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 16px
  color: $chartsText

.calc-new
  .d-flex .btn-group-toggle
    margin: 0 0 0 5px
    background: #F8F8F8
    border-radius: 4px
    overflow: hidden

  .wrap-inline-block
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 26px

  .row.wrap-inline-block:before
    display: none

  .d-flex
    display: flex
    align-items: center

    .form-control
      width: 60px
      height: 48px
      text-align: center
      border: 1px solid $calcBorderField

      &[name="words"], &[name="pages"]
        font-size: 14px !important

  .btn-group-toggle .btn-custom.active
    border-radius: 4px !important
    height: 48px
    text-transform: capitalize

  .wrap-inline-block .btn-group-toggle .btn-custom
    background: $chartsTab
    color: $chartsText
    border-radius: 4px !important
    height: 48px
    width: 60px
    text-transform: capitalize

    &.active
      color: $colorWhite

  .btn-group
    .btn +
    .btn, .btn-group
      margin-left: 0

    .btn-group +
    .btn, .btn-group
      margin-left: 0

  .btn-group-toggle .btn-custom
    width: 60px
    height: 48px
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 14px
    background: #F8F8F8
    display: flex
    align-items: center
    text-align: center
    color: $chartsText
    border-radius: 4px
    justify-content: center
    text-transform: capitalize
    box-shadow: unset
    padding: 5px

  .price_wrap
    display: flex
    align-items: center
    justify-content: space-between
    margin: 30px 0 0 0
    width: 100%

  .block-academic-level
    display: flex
    align-items: center
    justify-content: center

  .justify-content-around:before
    display: none

  .col-price .title-calc
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: normal
    color: #616869

  .price-total
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 44px
    display: flex
    align-items: center
    color: #1A2226

  .btn-deadline-picker
    .deadline-button.btn
      text-decoration: none
      line-height: 1
      border-radius: 5px
      text-transform: lowercase
      padding: 12px 20px
      text-shadow: none
      font-size: 11px
      color: #4C4C4C
      font-weight: normal
      margin: 0 0 2px 2px
      height: 30px
      width: 61px
      background: $colorWhite
      padding: 0
      border: 1px solid $calcBorderField
      box-shadow: none

    .deadline-button-active.btn
      color: $colorWhite

  .bootstrap-datetimepicker-widget
    z-index: 5

    .datetimepicker-confirm
      font-size: 16px
      font-weight: bold
      padding: 8px 0
      display: flex
      justify-content: center
      border-radius: 0

.bootstrap-datetimepicker-widget.dropdown-menu.bottom
  &:after, &:before
    display: none

.calc-new .col-proceed
  position: relative
  z-index: 9

  .btn-main
    font-size: 16px
    width: 230px
    padding: 18px 10px
    justify-content: center

    &:hover path, &:focus path
      fill: $colorWhite

    svg
      margin: 0 0 0 9px

@media (max-width: 1024px)
  .hero-calc .form-control
    margin-bottom: 0px

@media (max-width: 991px)
  .hero-calc, .calc-holder
    width: 100%
    max-width: calc(100% - 30px)
    float: none

@media (max-width: 767px)
  .calc-new .wrap-inline-block .d-flex .btn-group-toggle
    width: 100%

  .cover
    min-height: 720px !important

  .calc-block
    margin: 0 auto
    height: 100%
    padding: 0 0 39px 0
    background: $colorWhite

  .calc-new
    height: 100%
    padding: 0

    .calc-new-wrap
      margin: 0 20px
      width: calc(100% - 40px)

    .block-academic-level
      margin: -3px 0 5px 0

    .btn-group-toggle .btn-custom
      height: 45px

      &.active
        height: 45px

    .wrap-inline-block
      flex-direction: column
      margin-top: 10px

    .col-md.datetimepicker_wrap.datepricker-new-addon
      width: 100%
      margin: 0 0 20px

    .d-flex .form-control
      width: 98px

  .select2.select2-container
  /*width: 98%!important;

  .calc-new
    .btn-group-toggle .btn-custom.active, .wrap-inline-block .btn-group-toggle .btn-custom
      height: 48px

  .wrap-inline-block .col-md
    width: 100%

  .calc-new
    .js-example-basic-single
      width: 98%

    .date .form-control
      width: 97%

    &:after
      bottom: 75px
      left: -18px

    &:before
      left: -18px

    .justify-content-around
      margin: 10px 4px 0 0

    .col-proceed a
      width: 100%
      line-height: 15px
      max-width: 208px

    .form-group
      margin-bottom: 20px

    .col-proceed
      flex: 1
      max-width: 208px
      padding-left: 10px

    .currency, .price-total
      font-size: 24px
      line-height: 32px

    .col-proceed .btn-main
      font-size: 14px
      width: 200px

/*tooltip for academic level

.info-tooltip
  position: relative
  cursor: pointer
  display: inline-block
  width: 16px
  height: 16px
  margin: 0 5px

.calc-new .info-tooltip
  background: url("../img/general-imgs/calculator/info-tooltip.svg") no-repeat center
  top: 3px

.info-tooltip-wrap
  background: $colorWhite
  box-shadow: 0px 10px 45px rgba(47, 45, 133, 0.1)
  border-radius: 8px
  box-sizing: border-box
  padding: 20px 16px
  width: 360px
  position: absolute
  z-index: 1030
  bottom: calc(100% + 12px)
  left: -78px

.academic-level-block .info-tooltip:hover .info-tooltip-wrap
  display: block !important

.info-tooltip-wrap
  &:after
    content: ''
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 10px solid $colorWhite
    position: absolute
    bottom: -9px
    left: calc(50% - 4px)

  &:before
    content: ''
    width: 0
    height: 0
    position: absolute
    bottom: -19px
    left: calc(50% - 3px)
    border: 9px solid transparent
    border-top: 9px solid #bfbebe12

.info-tooltip-title
  font-weight: 500
  font-size: 14px
  line-height: 21px
  color: #1A2226
  margin-bottom: 10px
  position: relative

.info-tooltip-wrap
  td
    padding: 10px 12px
    background: #F8F8F8
    border-radius: 4px
    font-size: 14px

  tr td:first-child
    font-weight: 500
    color: $colorWhite
    width: 128px

  table
    border-collapse: separate
    border-spacing: 2px
    width: 100%

.select2-search__field:focus-visible
  outline: none
  box-shadow: none

.close-mob-tooltip
  background: url(../img/general-imgs/calculator/tooltip-close-bg.svg) no-repeat center
  width: 15px
  height: 15px
  position: absolute
  right: -2px
  top: -7px
  border: none
  display: none

.open-tooltip-lvl
  #order-form, .order-form-inner
    z-index: unset

.calc-new
  label
    position: relative

  .bootstrap-datetimepicker-widget
    z-index: 999

@media (min-width: 768px)
  .calc-new .info-tooltip-bottom
    top: 36px
    bottom: auto

    &:after
      border-bottom: 10px solid $colorWhite
      border-top: transparent
      top: -9px
      bottom: auto

@media (max-width: 991px) and (min-width: 768px)
  .calc-new .info-tooltip-wrap:after
    left: calc(50% - 49px)

  .info-tooltip-wrap
    left: -33px

  .calc-new
    background: $colorWhite

@media (max-width: 500px)
  .calc-new
    .col-proceed .btn-main
      width: 190px

    .col-price .title-calc
      text-align: center

@media (max-width: 767px)
  .info-tooltip-title
    padding-top: 4px

  .close-mob-tooltip
    display: block

  .info-tooltip-wrap
    border-radius: 7px
    width: 312px
    padding: 16px 12px
    left: calc(50% - 155px)
    margin: 0 auto
    top: calc(50% - 150px)
    bottom: auto
    display: block
    position: fixed
    z-index: 1050

  .open-tooltip-lvl
    /*position: fixed;
    overflow: hidden

    &:after
      content: ''
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1040
      outline: 0
      transition: opacity .15s linear
      background: rgba(51, 51, 51, 0.2)

  .info-tooltip-wrap td
    font-size: 12px
    white-space: nowrap
    padding: 10px 14px

/*END tooltip for academic level

/* datetimepicker

/*.calc-new .bootstrap-datetimepicker-widget .prev .fa, .calc-new .bootstrap-datetimepicker-widget .next .fa{
 *    display: none
 *}
 *
 *.calc-new .bootstrap-datetimepicker-widget .prev{
 *    background: url("../img_2021/date-arrow.svg") no-repeat 50% 50%;
 *}
 *
 *.calc-new .bootstrap-datetimepicker-widget .next{
 *    background: url("../img_2021/date-arrow.svg") no-repeat 50% 50%;
 *    transform: rotate(-180deg);
 *}
 *
 *.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{
 *    background: url("../img_2021/date-arrow.svg") no-repeat 50% 50%;
 *}

.datepricker-new-addon
  .input-group-addon
    width: 45px !important
    position: absolute
    right: 0
    top: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center

  .input-group
    position: relative
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-box-align: stretch
    -ms-flex-align: stretch
    align-items: stretch
    width: 100%

.bootstrap-datetimepicker-widget
  position: absolute !important
  background: $colorWhite
  border: 1px solid #EFEFEF
  box-sizing: border-box
  box-shadow: 0px 10px 45px rgba(51, 51, 51, 0.1)
  border-radius: 4px

  table th.picker-switch
    font-size: 14px !important

  &.dropdown-menu
    font-size: 14px !important
    width: 320px !important
    padding: 0 !important
    margin: 0 !important
    color: #333333
    font-weight: 500 !important

  table
    th
      width: 35px !important
      padding: 5px 0 !important
      font-weight: 500
      color: #000

    td
      &.old
        color: $chartsText !important

      &.disabled
        color: #E1E1E1 !important

        &:hover
          color: #E1E1E1 !important

  .picker-switch td
    span, i
      color: $colorWhite
      margin: 0 !important

  table td.today
    background: #EDE8E1 !important
    border-radius: 50%

    &:hover
      color: #333333

    &:before
      display: none !important

  &.dropdown-menu
    &::before, &::after
      display: none !important

  table td
    &.active
      color: $colorWhite !important
      text-shadow: none
      border-radius: 50%

      &:hover
        color: $colorWhite !important
        text-shadow: none
        border-radius: 50%

    &.day:hover, &.hour:hover, &.minute:hover, &.second:hover
      border-radius: 50%

    &.day
      height: 14px
      line-height: 14px
      width: 14px
      vertical-align: middle

.deadline-button
  font-size: 11px
  line-height: 11px
  background: $colorWhite
  border: 1px solid #E6E6EF
  border-radius: 5px
  width: calc(100% / 5)
  max-width: 56px
  padding: 0px 5px
  height: 30px
  margin: 0 1px
  text-transform: none

.bootstrap-datetimepicker-widget .datepicker-days
  .table-condensed
    overflow: hidden
    border-collapse: separate !important
    border-spacing: 0 3px

  padding: 10px 20px 0

.btn-deadline-picker
  margin: 16px -10px 32px
  display: flex
  justify-content: center

.deadline-button.deadline-btn-active
  background: #F8F8F8 !important
  border: 1px solid $calcBorderField !important

.bootstrap-datetimepicker-widget
  .backgroud_period_deadline
    background: #F8F8F8 !important
    border-radius: 0 !important
    position: relative

    &:before
      content: ''
      background: #F8F8F8
      height: 100%
      width: 20px
      display: block
      position: absolute
      left: -20px
      top: 0
      z-index: -1

    &:after
      content: ''
      background: #F8F8F8
      height: 100%
      width: 20px
      display: block
      position: absolute
      left: -20px
      top: 0
      z-index: -1
      left: auto
      right: -20px

  .timepicker-picker a
    color: #333

  .table-condensed
    .btn-primary
      border: none
      border-radius: 50%
      font-size: 14px
      width: 38px
      height: 38px
      text-align: center
      line-height: 1
      color: $colorWhite

    tr td
      &:last-child.backgroud_period_deadline
        border-top-right-radius: 50px !important
        border-bottom-right-radius: 50px !important

      &:first-child.backgroud_period_deadline
        border-top-left-radius: 50px !important
        border-bottom-left-radius: 50px !important

  .fa-clock-o:after, .fa-calendar:after
    content: "Choose Time"
    font-size: 14px
    margin-left: 8px

  .fa-clock-o:before
    content: ''
    width: 16px
    height: 16px
    display: inline-block
    background: url(../img/general-imgs/calculator/clock-circular-outline.svg) no-repeat center

  .fa-calendar:before
    content: ''
    width: 16px
    height: 16px
    display: inline-block
    background: url(../img/general-imgs/calculator/calendar-icon-choose.svg) no-repeat center

  table th
    &.prev, &.next
      background: url(../img/general-imgs/calculator/right-arrow.svg) no-repeat center !important

  .timepicker-picker
    .fa-chevron-up, .fa-chevron-down
      display: flex
      justify-content: center
      align-items: center
      height: auto
      padding: 5px

    .fa-chevron-up:before, .fa-chevron-down:before
      content: ''
      background: url(../img/general-imgs/calculator/arrow-top.svg) no-repeat center !important
      width: 24px
      height: 24px

  table th.next,
  .timepicker-picker .fa-chevron-down:before
    transform: rotate(180deg)

  table th.disabled
    opacity: 0.5

  .fa-calendar:after
    content: "Choose Date"

  .timepicker-hour, .timepicker-minute, .timepicker-second
    font-weight: 500 !important
    font-size: 32px !important
    line-height: unset !important

  .separator
    font-size: 32px !important
    vertical-align: unset !important
    position: relative
    top: -2px
    width: 10px
    width: 10px !important
    padding-top: 6px !important
    margin: 0 auto

  .period-animate
    display: none

  .table-condensed .btn-primary[data-action="togglePeriod"].disabled
    background: #DBDBDB
    border-color: #DBDBDB
    color: $chartsText

.datepricker-new-addon .bootstrap-datetimepicker-widget .datepicker-days
  padding: 10px 33px 0

.time-left
  position: relative
  border-radius: 0 !important
  background: #F8F8F8 !important
  font-size: 14px !important
  color: $chartsText

.datepicker-days
  position: relative

  &:before
    content: ""
    position: absolute
    left: 0
    top: 46px
    right: 0
    height: 30px
    background: #F8F8F8
    z-index: 0

.datepricker-new-addon
  .btn-deadline-picker
    flex-wrap: wrap
    margin: 6px -20px 20px

  .deadline-button
    margin-top: 8px
    width: unset
    max-width: 70px
    flex: 0 0 70px
    text-transform: none

  .datetimepicker-confirm
    display: block
    text-transform: uppercase
    color: $colorWhite !important
    font-size: 16px
    padding: 7px 0
    text-align: center
    cursor: pointer
    text-decoration: none

  .bootstrap-datetimepicker-widget .picker-switch td
    span, i
      background: #525763
      color: $colorWhite
      border-radius: 0
      height: 40px !important
      padding-top: 2px
      font-style: normal
      display: flex
      justify-content: center
      align-items: center
      font-family: $font-family

.timepicker .time-left
  height: 30px
  line-height: unset
  font-weight: 500

.bootstrap-datetimepicker-widget table td.day
  padding: 5px 0
  height: 34px

@media (max-width: 767px)
  .calc-new
    height: 100%

@media (max-width: 374px)
  .datepricker-new-addon .bootstrap-datetimepicker-widget .datepicker-days
    padding: 10px 15px 0

  .bootstrap-datetimepicker-widget.dropdown-menu
    width: 295px !important

  .datepricker-new-addon
    .btn-deadline-picker
      margin: 6px -10px 20px

    .deadline-button
      max-width: 65px
      flex: 0 0 65px

  .deadline-button
    margin: 0 2px

/*END datetimepicker

.col-price-footer
  justify-content: space-between
  margin: 0 -17px -30px
  flex: unset
  width: calc(100% + 34px)
  max-width: unset
  padding: 30px 32px 32px
  background: #FAFAFA
  border-top: 1px solid #EDF0FF
  border-radius: 0 0 20px 20px

  @media (max-width: $screen-sm)
    margin: 0 -5px -30px
    width: calc(100% + 10px)
    padding: 30px 20px

.btn-procide-calc
  width: 218px
  box-sizing: border-box
  color: $colorWhite !important
  border-radius: 27px
  font-size: 16px
  padding: 10px
  height: 48px
  display: flex
  justify-content: center
  align-items: center
  box-shadow: 0px 10px 20px rgba(84, 110, 247, 0.25)

/*END first disc calc
.bootstrap-datetimepicker-widget
  .next
    //transform: rotate(180deg)
/*fix togglePicker bug

.bootstrap-datetimepicker-widget
  .collapse.in
    display: none !important

  .collapsing
    transition: height .001s ease !important

/*END fix togglePicker bug

/*responsive
@media (max-width: 991px) and (min-width: 768px)
  .input-pages-words
    width: auto
    flex: 1

@media (min-width: 768px)
  .calc-close
    display: none

@media (max-width: 767px)
  .calc-new .d-flex .btn-group-toggle
    flex: 1

  .calc-holder
    max-width: calc(100% - 30px)
    padding: 0px 20px 32px
    margin: 40px 15px 0

  .hero-calc-shown
    position: fixed
    height: calc(100% - 20px)
    background: $colorWhite
    width: calc(100% - 20px) !important
    min-height: calc(100% - 20px)
    z-index: 1050
    top: 10px
    left: 10px
    overflow-y: auto
    margin: 0
    right: 10px
    max-width: unset !important
    bottom: 10px

  .info-tooltip-wrap:after
    display: none

/*END responsive