.landing_price

  h2
    text-align: left

  .prices_tabs
    margin-top: 20px

    li.nav-item
      flex: 1 1
      text-align: center

    .tabs-section
      background-color: $chartsTab

    .nav-pills .nav-link
      background-color: $chartsTab
      color: $chartsText
      font-size: $font-size-14
      min-height: 48px
      display: flex
      justify-content: center
      align-items: center
      padding: 5px

.nav-pills .nav-link
  background-color: $chartsTab
  color: $chartsText
  font-size: $font-size-14
  height: 48px
  padding: 0

.landing_price .prices_tabs .nav-pills .nav-link.active, .nav-pills .show > .nav-link
  color: #fff

/* CHART

.landing_price .tab-content .tabs_inr
  width: 100%
  background: $colorWhite
  box-shadow: 0px 10px 40px rgba(187, 188, 191, 0.2)
  border-radius: $borderRadius8
  margin-top: 26px
  padding: 112px 95px 30px
  position: relative

  @media (max-width: $screen-lg)
    padding-left: 50px
    padding-right: 50px

  @media (max-width: $screen-sm)
    padding-top: 80px
    padding-right: 30px

.q-graph
  display: block
  position: absolute
  left: 0
  bottom: 0px
  width: 100%
  height: 100%
  padding: 20px 0 80px
  background: transparent
  font-size: 11px

  @media (max-width: $screen-sm)
    padding-bottom: 65px
    padding-right: 20px

.label_color
  width: 24px
  height: 24px
  flex: 0 0 24px
  display: block
  border-radius: 50%
  margin-right: 10px

.icon_competitors
  font-size: 18px
  @media (max-width: $screen-sm)
    font-size: 14px

.icon_studdit
  img
    @media (max-width: $screen-sm)
      max-width: 100px

.label_studdit
  display: flex
  align-items: center
  width: auto !important
  margin-right: 40px

.label_competitors
  display: flex
  align-items: center
  width: auto !important

.label_competitors .label_color
  background: $chartsLabel

.q-graph
  .bar
    width: 100px
    bottom: -7px
    @media (max-width: $screen-lg)
      width: calc(94% / 2)

    p
      margin: 5px 0 0
      padding: 0
      opacity: .4

  .studdit_stat
    border-color: transparent
    display: flex
    align-items: center
    justify-content: center
    animation: animate-height
    animation-duration: .7s
    animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99)

  .st_st
    position: absolute
    bottom: 0
    left: 30px

    @media (max-width: $screen-lg)
      margin-left: 8px
      left: 0

    .discounted
      width: 100%
      border-radius: 6px
      margin-bottom: 8px
      display: flex
      align-items: center
      padding: 8px

      @media (max-width: $screen-lg)
        flex-direction: column
        height: auto

      @media (max-width: $screen-sm)
        padding: 0px
        margin-left: -6px

      .chart-text-disc
        @media (max-width: $screen-lg)
          text-align: center

      .down_icon
        width: 32px
        min-width: 32px
        height: 32px
        border-radius: 50%
        border: 4px solid
        display: flex
        align-items: center
        justify-content: center
        margin-right: 8px

        @media (max-width: $screen-lg)
          width: 20px
          min-width: 20px
          height: 20px

        @media (max-width: $screen-sm)
          display: none

        &:before
          content: ''
          width: 12px
          height: 14px

          @media (max-width: $screen-lg)
            width: 8px
            height: 10px

      .discounted-name
        color: $chartsText
        opacity: 0.5
        font-size: 12px
        line-height: 15px
        @media (max-width: $screen-sm)
          font-size: 8px

      .discounted-number
        color: $colorH
        font-size: 16px
        line-height: 16px
        @media (max-width: $screen-sm)
          font-size: 10px

  .tick_title
    display: block
    color: $colorH
    font-size: 20px
    line-height: 25px
    @media (max-width: $screen-lg)
      font-size: 14px

    @media (max-width: $screen-sm)
      line-height: unset
      white-space: nowrap

  .tick_numbers
    font-size: $font-size-14
    line-height: 20px
    @media (max-width: $screen-lg)
      font-size: $font-size-12

    @media (max-width: $screen-sm)
      line-height: unset
      white-space: nowrap

  .graph_header
    display: flex
    padding-left: 32px
    @media (max-width: $screen-sm)
      padding: 0 10px

  .comp_stat
    position: absolute
    bottom: 0
    left: 133px

    @media (max-width: $screen-lg)
      left: auto
      right: 0px

    .comp_stat_price
      background-color: $chartsLabel
      border-color: transparent
      animation: animate-height
      animation-duration: .7s

    .diff
      background-color: #ACB2C0
      animation: animate-height
      animation-duration: .7s

@keyframes animate-height
  0%
    height: 0

  to
    visibility: visible

.ticks
  //position: absolute
  bottom: 0
  z-index: 1
  font-size: $font-size-14
  padding-top: 50px
  //width: calc(100% - 190px)

.tick
  height: 77px

.q-graph
  .columns
    display: flex
    width: 93%
    margin-left: 7%
    height: calc(100% - 86px)
    position: relative
    z-index: 2

    @media (max-width: $screen-lg)
      width: calc(100% - 100px)
      margin-left: 50px

    @media (max-width: $screen-sm)
      margin-left: 60px
      width: calc(100% - 80px)


  .graph_label
    position: absolute
    bottom: -60px
    left: 30px
    @media (max-width: $screen-sm)
      transform: rotate(-90deg)
      bottom: -70px
      left: -10px

  .qtr
    @include flex-1
    max-width: 100%
    position: relative

.ticks .tick
  position: relative
  border-bottom: 1px dashed #C4C4C4
  width: 100%

  &:first-child
    border-top: 1px dashed #C4C4C4

  &:last-child
    border-bottom: 0

  p
    font-size: 14px
    position: absolute
    left: -4em
    top: -0.9em
    @media (max-width: $screen-lg)
      font-size: 12px
      left: -3.5em

/* CHART END