.cta1
  &-caption
    font-weight: bold
    font-size: $font-size-38
    line-height: $lineHeight120
    color: $colorH

    @media (max-width: $screen-sm)
      font-size: $font-size-32

  &-wrap
    min-height: 280px
    border: 1px solid
    box-sizing: border-box
    border-radius: $borderRadius16
    @include flex-column-center
    align-items: flex-start

    @media (max-width: $screen-lg)
      background-size: 280px auto
      background-position: bottom right

  &-text
    font-weight: normal
    font-size: $font-size-18
    line-height: $lineHeight160

  &-btn
    margin-top: 15px
    text-align: left

  &-top
    .cta1-wrap
      position: relative
      padding: 40px 60px 10px

      @media (max-width: $screen-lg)
        padding: 20px

    .cta1-inside
      display: block

    .cta1-text
      padding-top: 34px

  &-middle, &-bottom
    .cta1-wrap
      position: relative
      padding: 10px 30px 10px 60px

      @media (max-width: $screen-sm)
        padding: 30px 20px

  &-middle
    .cta1-wrap
      @media (max-width: $screen-lg)
        padding: 30px 40px

    .cta1-inside
      font-weight: $font-weight-black
      font-size: $font-size-44
      line-height: $lineHeight120
      text-align: center
      color: $colorWhite
      max-width: 205px
      display: block

    .cta-btn-select
      order: 1

  &-bottom
    .cta-btn-select
      margin-top: 28px
      order: 1

    .cta1-btn
      margin-top: 0

      @media (max-width: $screen-sm)
        min-width: 220px

    .cta1-caption
      font-size: $font-size-30

      @media (max-width: $screen-sm)
        font-size: $font-size-24

    .cta1-text
      font-size: 20px

      @media (max-width: $screen-sm)
        font-size: $font-size-16
        padding-top: 10px

    .cta1-inside
      @media (max-width: $screen-lg)
        display: inline-block



.cta2
  &-body
    position: relative

    &-row
      @include flex
      justify-content: space-between
      font-size: $font-size-18

    &-bottom
      .cta2-price-old
        color: $colorRed

  &-price
    @include flex

    &-old
      padding: 0 5px
      text-decoration: line-through solid $colorRed

  &-free
    color: $colorGreen



.cta2-two-cols
  .cta2
    &-subcaption
      font-size: $font-size-16
      line-height: $lineHeight160

    &-caption
      font-weight: $font-weight-bold
      color: $colorH
      font-size: $font-size-40
      line-height: $lineHeight100
      margin: 20px 0 12px

      @media (max-width: $screen-lg)
        font-size: $font-size-32

      @media (max-width: $screen-sm)
        font-size: $font-size-24

    &-c2-img
      max-width: 160px

    &-wrap
      @include flex
      justify-content: center
      align-items: center

    &-body
      padding: 10px 35px 35px
      max-width: 445px
      flex: 1
      line-height: $lineHeight250
      background: #FFFFFF
      border: 1px solid #EDF0FF
      box-sizing: border-box
      box-shadow: 0px 10px 40px rgba(187, 188, 191, 0.2)
      border-radius: 0 30px 30px

      @media (max-width: $screen-sm)
        margin-top: 50px

      &:before
        content: ''
        background: url('../img/general-imgs/cta-bnr/cta2/bg-top-full.png') no-repeat
        height: 80px
        width: 100%
        position: absolute
        background-size: 450px auto
        top: -54px
        left: -35px

      &:after
        @media (min-width: $screen-lg)
          content: ''
          background: url('../img/general-imgs/cta-bnr/cta2/cta-ellipces.svg') no-repeat
          width: 500px
          height: 500px
          position: absolute
          top: -90px
          z-index: -1
          left: 0


      &-row
        font-weight: $font-weight-medium
        font-size: $font-size-16

      &-caption
        font-weight: $font-weight-extra-bold
        font-size: $font-size-28
        color: $cta2Title
        margin-bottom: 18px

      &-bottom
        color: $colorH
        border-top: 1px solid
        padding-top: 22px
        margin-top: 18px
        text-align: center

        p
          font-size: $font-size-20
          max-width: 250px
          margin: 0 auto 18px

    &-caption-wrap
      flex: 1
      max-width: 500px
      padding-right: 70px

      @media (max-width: $screen-sm)
        flex: 0 0 100%
        max-width: 100%
        padding-right: unset


.cta2-present
  .cta2
    &-c2-img, &-caption-wrap
      display: none

    &-body
      border: 1px solid
      box-sizing: border-box
      border-radius: $borderRadius16
      padding: 40px 62px
      background-size: 100% auto
      background-position: bottom -120px left -60px
      @include flex

      @media (max-width: $screen-lg)
        padding: 40px
        flex-direction: column

      //@media (max-width: $screen-sm)
        padding: 20px

      &:before, &:after
        content: ''

      &-hd
        color: $colorH
        order: 1

      &-inner
        @include flex
        @include flex-1

      &-caption
        flex: 1
        max-width: 280px
        font-weight: $font-weight-bold
        font-size: $font-size-38
        line-height: $lineHeight120
        color: $colorH

        @media (max-width: $screen-lg)
          padding-bottom: 20px

        @media (max-width: $screen-sm)
          font-size: $font-size-32

      &-row
        flex: 0 0 33%
        max-width: 33%
        justify-content: flex-start
        background-size: 30px auto
        padding-bottom: 30px
        align-items: center

        @media (max-width: $screen-lg) and (min-width: $screen-md)
          flex: 0 0 50%
          max-width: 50%

        @media (max-width: $screen-sm)
          flex: 0 0 100%
          max-width: 100%

        &:before
          content: ''
          width: 30px
          height: 30px
          background-size: 30px auto
          display: inline-block
          margin-right: 15px


        .cta2-free
          display: none

      &-bottom
        color: $colorH
        @include flex
        @include flex-1
        max-width: 100%
        align-items: center
        justify-content: space-between

        p
          margin: 0

          @media (min-width: $screen-lg)
            font-size: $font-size-20

          @media (max-width: $screen-sm)
            padding-bottom: 20px


.cta-btn-select
  @include flex

  .cta-select
    width: 280px
    margin-right: 15px
    display: none

    @media (max-width: $screen-sm)
      margin-bottom: 30px

.cta1-bottom
  .cta-select
    display: block







