.accordion>.card
  all: inherit

.accordion>.card:not(:last-of-type),
.accordion>.card:not(:first-of-type)
  border-radius: $borderRadius10

.accordion>.card:not(:last-of-type)
  //all: inherit
  border-bottom: 1px solid


.collapse-toggle-icon
  &:before
    font-family: "Font Awesome 5 Free"
    display: inline-block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    -webkit-font-smoothing: antialiased


.faq-plus
  @include flex
  align-items: flex-start

  .card
    flex-direction: column
    flex: 0 0 100%
    max-width: 100%

    @media (min-width: $screen-md)
      flex: 0 0 50%
      max-width: calc(50% - 30px)

    &:nth-child(odd)
      margin-right: 30px

  .card-header, .collapse
    width: 100%

  .collapse-toggle-icon
    &:before
      content: "+"
      font-weight: $font-weight-light
      font-size: $font-size-20

  .btn
    &:not(.collapsed)
      .collapse-toggle-icon
        &:before
          content: "—"
          font-weight: $font-weight-normal
          font-size: $font-size-14

.faq
  .collapse-toggle-icon
    width: 30px
    height: 30px
    border-radius: 50%
    @include flex-center-items
    transition: all .15s linear
    position: absolute
    right: 20px

  .btn
    &:not(.collapsed)
      .collapse-toggle-icon
        transform: rotate(180deg)

  .card
    .btn
      font-weight: $font-weight-medium
      color: $colorH
      padding: 0
      display: flex
      align-items: center
      text-transform: none
      padding: 10px 20px
      max-height: unset

      &:focus
        outline: none
        box-shadow: none

    &-header
      padding: 0
      min-height: 64px
      display: flex
      align-items: center
      position: relative
      background-color: unset
      border-bottom-color: transparent

      //@media (max-width: $screen-sm)


    &-body
      line-height: $lineHeight185

.faq
  .accordion:not(.faq-left-arrow)
    .card
      margin-bottom: 16px
      .btn
        @include flex-between-center

    .card-header
      padding-right: 50px


.faq-plus, .faq-long-arrow
  .card
    box-sizing: border-box
    border: 1px solid
    border-radius: $borderRadius10
    background-color: $colorWhite

.faq-long-arrow
  max-width: 970px
  margin-left: auto
  margin-right: auto

  .collapse-toggle-icon
    &:before
      content: ''
      height: 14px
      width: 12px

.faq-left-arrow
  .card
    border-radius: 0
    border-bottom: 1px solid

    .collapse-toggle-icon
      border-radius: 0
      background: url("../img/general-imgs/faq/triangle.svg") no-repeat center
      order: -1
      position: relative
      top: -2px

  .card-body
    padding: 20px 0


  &>.card:not(:first-of-type),
  &>.card:not(:last-of-type)
    border-radius: 0

  .btn
    &:not(.collapsed)
      .collapse-toggle-icon
        transform: rotate(90deg)