footer
  background: $colorWhite

  a
    color: $colorBody

    &:hover
      color: $colorBody

.btn-group-language
  @media (min-width: $screen-lg)
    margin-top: 30px

.social-media
  @media (max-width: $screen-lg) and (min-width: $screen-md)
    margin-top: 15px

  @media (max-width: $screen-sm)
    margin-bottom: 15px

  @media (max-width: $screen-lg) and (min-width: $screen-md)
    padding-right: 40px


  &-item
    width: 30px
    height: 30px
    border-radius: 50%
    margin-right: 16px
    display: inline-flex
    @include align-items-center
    justify-content: center
    color: $colorWhite
    font-size: 18px
    cursor: pointer

    &:hover
      text-decoration: none
      color: $colorWhite

  &-facebook
    background-image: url("../img/general-imgs/social/facebook.svg")
    background-repeat: no-repeat
    background-position: center

  &-instagram
    background-image: url("../img/general-imgs/social/instagram.svg")
    background-repeat: no-repeat
    background-position: center

  &-tiktok
    background-image: url("../img/general-imgs/social/tiktok.svg")
    background-repeat: no-repeat
    background-position: center

  &-youtube
    background-image: url("../img/general-imgs/social/youtube.svg")
    background-repeat: no-repeat
    background-position: center


.footer
  &-menu
    padding-left: 0
    margin-bottom: 0
    list-style: none

    &-caption
      color: $colorH
      margin-bottom: 25px
      font-weight: $font-weight-medium
      line-height: $lineHeight140
      font-size: $font-size-18

    li
      margin-bottom: 16px
      font-size: $font-size-16
      line-height: 26px
      font-feature-settings: 'salt' on, 'liga' off

  &-row
    padding: 40px 0 24px
    border-top: 1px solid

    &-second
      @include align-items-center

      .footer-menu
        @include flex

        li
          @media (min-width: $screen-md)
            flex: 0 0 33%
            max-width: 33%

          @media (max-width: $screen-sm)
            flex: 0 0 100%
            max-width: 100%

    &-last
      padding-top: 20px

      @media (min-width: $screen-lg)
        justify-content: space-between

      @media (max-width: $screen-lg)
        flex: 0 0 100%
        max-width: 100%
        flex-direction: column


  &-logo-col
    @include flex
    align-items: center

    @media (max-width: $screen-lg)
      padding-bottom: 40px

    @media (max-width: $screen-sm)
      padding-bottom: 40px

    .logo
      @media (min-width: $screen-lg)
        margin-bottom: 15px

      @media (max-width: $screen-lg) and (min-width: $screen-md)
        margin-right: 40px

      @media (max-width: $screen-sm)
        margin-bottom: 20px


  &-col
    @media (max-width: $screen-lg) and (min-width: $screen-md)
      flex: 0 0 33%
      max-width: 33%

    @media (max-width: $screen-sm)
      padding-bottom: 20px

.icon-accept
  @include flex
  @include flex-1
  align-items: center
  max-width: 270px

  .accept-img
    background: $colorWhite
    border: 1px solid
    border-radius: $borderRadius6
    margin: 0 3px
    flex: 0 0 60px
    max-width: 60px
    height: 30px
    @include flex-center-items

    @media (max-width: $screen-sm)
      max-width: calc(100% / 6)

      img
        max-width: 90%

.copyright-item
  color: $colorGrey
  align-items: center
  display: flex

  @media (max-width: $screen-lg)
    order: 1
    padding-top: 20px


