.hero-wrapper
  padding: 150px 0 20px

  @media (max-width: $screen-lg)
    padding-top: 140px

  &-right
    max-width: 100%

    @media (min-width: $screen-xxl)
      max-width: 550px

    @media (max-width: $screen-xl) and (min-width: $screen-lg)
      max-width: 40%

    @media (max-width: 991px)
      flex: 0 0 100%

    @media (max-width: 991px) and (min-width: $screen-md)
      margin-top: 20px

    @media (max-width: $screen-sm)
      flex: 0 0 100%
      max-width: 100%
      padding-top: 40px

    img
      @media (max-width: 991px)
        display: block

      @media (max-width: 991px) and (min-width: $screen-md)
        margin: 40px auto 30px

      @media (max-width: $screen-sm)
        max-width: 90%
        margin: 0 auto

.upper-title
  @include uppercase
  font-size: $font-size-18
  font-weight: $font-weight-bold

.sub-title
  font-size: $font-size-18
  line-height: $lineHeight160

.logo
  max-width: 170px

.hero-row
  @media (min-width: $screen-lg)
    justify-content: space-between

.hero-bg-icons
  @media (min-width: $screen-lg)
    padding-bottom: 110px

.hero-wrapper-left
  @media (min-width: $screen-lg)
    max-width: 630px
    padding-top: 30px

