.hero-stars
  @include flex
  padding-top: 28px

  &-item
    @include flex
    @include flex-1
    max-width: 100%

    @media (max-width: $screen-sm)
      flex-direction: column

  &-logo
    background: $colorWhite
    box-shadow: $boxShadowRating
    border-radius: $borderRadius6
    height: 40px
    width: 40px

  &-score
    color: $colorRationScore
    line-height: $lineHeight100
    padding-right: 5px


  &-title
    font-size: $font-size-14
    font-weight: $font-weight-semi-bold

    @media (max-width: $screen-sm)
      padding: 5px 0

  &-inner, &-star, &-logo, &-score
    @include flex-center-items

  &-inner
    @media (max-width: $screen-sm)
      justify-content: flex-start

  &-star
    img
      margin: 0 3px

      @media (max-width: $screen-sm)
        margin: 0px 0px
        max-width: 11px

  &-body
    @media (min-width: $screen-md)
      padding-left: 8px