.how-works

  &-col
    @include flex
    @include flex-1
    max-width: 100%
    list-style-type: none
    padding-left: 0

  &-item
    position: relative
    box-sizing: border-box
    padding: 15px

    &:before
      content: ''
      position: absolute
      right: 14px

.how-works
  &:not(&-vertical)

    &-text
      padding-top: 12px

    .how-works-img-right
      display: none

  &-img
    @include flex-center
    align-items: flex-end
    border-radius: $borderRadius6
    width: 72px
    height: 72px
    object-fit: contain

  &-caption
    font-weight: $font-weight-bold
    font-size: $font-size-18
    line-height: $lineHeight160
    color: $colorH
    margin-bottom: 4px

  &-text
    font-size: $font-size-16
    line-height: $lineHeight160

  &-inner
    padding-bottom: 40px

  &-white-items
    .how-works-col
      counter-reset: number

    .how-works-item
      align-items: stretch
      @include flex
      flex: 0 0 33%
      max-width: 33%

      @media (max-width: $screen-lg) and (min-width: $screen-md)
        flex: 0 0 50%
        max-width: 50%

      @media (max-width: $screen-sm)
        flex: 0 0 100%
        max-width: 100%

      &:before
        counter-increment: number
        content: counter(number) "\a0"
        font-weight: $font-weight-bold
        font-size: $font-size-60
        line-height: $lineHeight140
        text-align: right
        font-feature-settings: 'salt' on, 'liga' off

    .how-works-img
      margin-bottom: 30px

    .how-works-item-inner
      border: 1px solid
      background: $colorWhite
      padding: 30px 20px


  &-transparent
    .how-works-item
      flex: 0 0 25%
      max-width: 25%

      @media (max-width: $screen-lg) and (min-width: $screen-md)
        flex: 0 0 50%
        max-width: 50%

      @media (max-width: $screen-sm)
        flex: 0 0 100%
        max-width: 100%

      &:before
        max-width: calc(100% - 80px)
        width: calc(100% - 80px)
        height: 32px
        z-index: -1
        position: absolute
        right: 14px
        top: 20px

      &:nth-child(odd):before
        @media (min-width: $screen-lg)
          background: url('../img/general-imgs/how-works/line-indicator-top.svg') no-repeat top right
          top: calc(72px - 32px)

      &:nth-child(even):before
        @media (min-width: $screen-lg)
          background: url('../img/general-imgs/how-works/line-indicator-bottom.svg') no-repeat top right

      &:last-of-type:before
        display: none

    .how-works-img
      margin-bottom: 16px

    .how-works-text
      @media (min-width: $screen-lg)
        max-width: 235px

  &-vertical
    .how-works-inner
      justify-content: center

    .how-works-img
      width: 170px
      height: 170px
      align-items: flex-start

      @media (max-width: $screen-sm)
        width: 100px
        height: 100px
        margin-bottom: 15px

    .how-works-body
      flex: 0 0 100%
      max-width: 100%

      @media (min-width: $screen-md)
        padding: 0 30px 0 100px
        flex: 1


    .how-works-item-inner
      @include flex

      @media (min-width: $screen-md)
        flex-direction: row-reverse

      @media (max-width: $screen-sm)
        padding-left: 80px

    .how-works-col
      counter-reset: item
      list-style-type: none
      max-width: 770px

    .how-works-item
      &:before
        content: counter(item, decimal-leading-zero) " "
        counter-increment: item
        right: auto
        font-weight: $font-weight-bold
        font-size: $font-size-48
        line-height: 1
        text-align: right
        font-feature-settings: 'salt' on, 'liga' off

      &:after
        content: ''
        border: 2px dashed
        transform: rotate(180deg)
        height: calc( 100% - 80px)
        position: absolute
        bottom: 0
        left: 34px

      &:last-of-type:after
        display: none









