.navbar-top
  padding: 10px 0

  @media (max-width: $screen-sm)
    padding-left: 20px
    padding-right: 20px

  .navbar-top-inner
    @media (max-width: 991px)
      flex: 1
      max-width: 100%
      display: flex
      justify-content: space-between
      align-items: center

  .btn-light
    padding: 11px 30px
    max-width: 170px
    border-radius: 100px
    text-transform: uppercase
    font-weight: $font-weight-bold
    font-size: $font-size-16
    height: 48px
    display: flex
    align-items: center
    justify-content: center

    &:hover
      text-decoration: unset

    @media (max-width: 991px)
        margin-top: 10px

  .collapse
    justify-content: flex-end

  .navbar-nav
    align-items: center
    position: relative


    @media (max-width: 991px)
      padding-bottom: 40px

  .menu
    @media (max-width: 991px)
      padding-top: 30px

    &-item
      padding: 0 10px
      font-weight: 500
      font-size: $font-size-16
      line-height: $lineHeight130

      @media (min-width: $screen-xl)
        padding: 0 20px

      @media (max-width: 991px)
        margin-bottom: 20px
        width: 100%

      a
        color: $colorH

    .btn
      padding: 11px 30px
      max-width: 170px

.navbar-scrolling, .head-active-menu
  background-color: $colorWhite

.menu .sub-menu
  list-style: none

  @media (min-width: $screen-lg)
    padding: 12px 20px
    border-radius: 8px
    background: $colorWhite
    //box-shadow: -2px 4px 45px rgba(0, 0, 0, 0.13)

  li
    width: 100%

    @media (min-width: $screen-lg)
      padding: 0 0 20px

.navbar-top ul > li > .sub-menu
  display: flex
  flex-wrap: wrap
  z-index: 3
  transition: all .3s ease
  pointer-events: none
  padding-top: 30px

  @media (min-width: $screen-lg)
    top: 35px
    position: absolute
    left: 0px
    opacity: 0

.navbar-top ul > li.menu-item-has-children:hover > .sub-menu
  pointer-events: all
  opacity: 1

.menu-item-has-children
  &:after
    @media (min-width: $screen-lg)
      content: ""
      display: inline-block
      margin-left: 0.255em
      vertical-align: 0.255em
      border-top: 0.3em solid
      border-right: 0.3em solid transparent
      border-bottom: 0
      border-left: 0.3em solid transparent






