.carousel-experts-item
  background: $colorWhite
  border: 1px solid
  border-radius: 8px
  font-size: 14px
  margin: 0 2px
  height: 100%
  display: flex

.after-title
  font-size: $font-size-18
  text-align: center
  line-height: $lineHeight160
  margin-top: -20px

  @media (max-width: $screen-sm)
    font-size: $font-size-16

.experts-head-img
  border: 4px solid
  box-sizing: border-box
  max-width: 60px
  max-height: 60px
  border-radius: 50%

.carousel-reviewer-title
  font-size: $font-size-18
  line-height: 122.94%
  color: $colorWriters

.experts-info-sing
  color: $colorWriters
  font-size: 16px
  line-height: 122.94%
  padding-right: 4px

.text-grey
  color: $colorGrey

.experts-info-body
  padding: 20px 20px 0
  flex: 1

.carousel-top
  flex: 1

.experts-info-inner
  align-items: baseline
  display: flex

.experts-competences-section
  padding: 20px 0

.experts-competences-holder
  flex-wrap: wrap

.experts-competences-item
  border-radius: 4px
  display: inline-flex
  align-items: center
  padding: 10px 12px
  font-size: 13px
  line-height: 15px
  white-space: nowrap
  margin: 8px 8px 0 0

.experts-competences-label
  color: $colorH
  font-weight: $font-weight-medium
  font-size: $font-size-15

.opacity-07
  color: rgba(255, 255, 255, 0.7)

.experts-head-top
  padding-bottom: 5px

.experts-info-footer
  padding: 24px 35px

  @media (max-width: 1199px)
    padding: 24px 0px

  .btn
    width: 100%

.carousel-stars-wrap
  display: flex
  align-items: center

.experts-info-item
  display: flex

.carousel-star-item
  padding: 0 5px

.owl-carousel
  padding-top: 30px
  @media (max-width: $screen-sm)
    padding-top: 50px

  button.owl-dot
    background: $colorH
    opacity: 0.6
    height: 8px
    width: 8px
    border-radius: 50%
    margin: 0 4px

    &.active
      opacity: 1

    &:hover
      opacity: 0.8

  .owl-nav
    button
      margin: 0 4px

      &.owl-prev, &.owl-next
        border-radius: 50%
        height: 38px
        width: 38px
        display: inline-flex
        justify-content: center
        align-items: center

    span
      //-webkit-mask-image: url(../img/general-imgs/btns/arrow-long-right.svg)
      //mask-image: url(../img/general-imgs/btns/arrow-long-right.svg)
      //-webkit-mask-repeat: no-repeat
      //mask-repeat: no-repeat
      //mask-size: contain
      background: url(../img/general-imgs/btns/arrow-long-black.svg) no-repeat center
      color: transparent
      width: 20px
      height: 14px
      display: block

    button
      &:hover
        opacity: 0.8

  .owl-prev
    transform: rotate(180deg)

  .owl-stage
    @include flex
    align-items: stretch

.owl-nav
  position: absolute
  top: -30px
  right: 0
  max-width: 350px
  flex: 0 0 100%
  display: flex
  justify-content: space-between
  @media (max-width: $screen-sm)
    top: 5px
    right: auto
    left: calc(50% - 46px)

.owl-dots
  position: relative
  padding-top: 30px
  text-align: center
  max-width: 290px
  margin: 0 auto


.owl-carousel
  &:not(.slider-bottom)
    .slider-text
      display: none


.slider-middle
  .experts-competences-section
    border-top: 1px solid
    margin-top: 20px

  .carousel-head-item
    border-bottom: 1px solid
    border-radius: 8px 8px 0 0
    padding: 20px 24px 20px 88px

  .experts-head-img
    position: absolute
    left: 24px
    margin-top: -5px
    margin-right: 3px

  .carousel-reviewer-title
    padding-right: 4px

  .experts-info-inner
    padding-right: 24px

  .experts-info-footer
    margin: 0 20px


.owl-carousel:not(.slider-middle)
  .experts-competences-section
    text-align: center

  .experts-head-top
    margin-top: 12px

  .experts-head-img
    background-color: $colorWhite

  .carousel-head-item
    @include flex-column-center-align

  .carousel-reviews-count
    display: none

  .carousel-star-item
    &:after
      content: 'rating'
      margin-left: 5px

  .experts-info-inner
    flex-direction: column
    align-items: center
    padding: 0 12px

  .experts-info-item
    justify-content: center

  .experts-competences-holder
    justify-content: center


.owl-carousel:not(.slider-bottom)
  .carousel-experts-item
    flex-direction: column


.owl-carousel:not(.slider-top)
  .experts-competences-item
    background: $colorBadge

.slider-top
  .owl-item
    padding-top: 30px

  .experts-competences-item
    border: 1px solid
    box-sizing: border-box
    border-radius: $borderRadius100

  .carousel-star-item
    border-radius: $borderRadius4
    color: $ratingGreenText

  .experts-head-img
    margin: -30px auto 0

  .carousel-stars-wrap
    display: none


.slider-bottom
  .carousel-experts-item
    width: 766px
    padding-top: 18px

    @media (max-width: $screen-sm)
      flex-wrap: wrap
      width: 100%

  .experts-info-complited
    display: none

  .experts-info-inner
    border-right: 1px solid

  .carousel-star-item
    padding: 0 5px
    position: absolute
    margin-top: 31px
    display: flex
    flex-direction: column
    font-size: 16px
    margin-left: 40px
    text-align: center
    color: $colorWriters

    &:after
      color: $colorGrey
      font-size: 14px

  .experts-info-footer
    flex: 0 0 50%
    max-width: 50%
    border-left: 1px solid
    padding-bottom: 0
    margin-bottom: 30px
    display: flex
    flex-direction: column

    @media (max-width: $screen-sm)
      flex: 0 0 100%
      max-width: 100%
      padding-top: 0

    .slider-text
      @media (max-width: $screen-sm)
        -webkit-line-clamp: 5
        -webkit-box-orient: vertical
        overflow: hidden
        -o-text-overflow: ellipsis
        text-overflow: ellipsis
        display: -webkit-box
        margin-bottom: 20px

    .slider-text-hold
      flex: 1

  .owl-stage-outer
    &:after
      content: ''
      box-shadow: 0 0 33em 14em #ffffffbf
      position: absolute
      height: 100%
      width: 0
      bottom: 0
      right: 0

.slider-top, .slider-bottom
  .carousel-experts-item
    border-top-width: 7px

.slider-top, .slider-middle
  .experts-info-footer
    border-top: 1px solid

