.services
  &-wrap
    @include flex

  &-nav
    @include flex
    align-items: center
    flex: 0 0 25%
    max-width: 25%
    font-weight: $font-weight-medium
    line-height: $lineHeight200
    color: $colorBody
    padding: 20px 45px 20px 20px
    min-height: 80px
    position: relative
    justify-content: flex-end
    max-width: calc(25% - 30px)

    @media (max-width: $screen-lg)
      max-width: 50%
      flex: 0 0 50%

    @media (max-width: $screen-sm)
      flex: 0 0 100%
      max-width: 100%


    &:before
      content: ''
      width: 22px
      height: 16px
      mask-repeat: no-repeat
      mask-position: center
      position: absolute
      top: calc(50% - 10px)
      right: 14px

    &:hover
      color: $colorBody
      text-decoration: none

.services-square
  .services
    &-nav
      padding: 20px 20px 20px 45px
      justify-content: unset
      border-bottom: 1px solid

      @media (min-width: $screen-md)
        border-right: 1px solid

      @media (min-width: $screen-lg)
        max-width: 25%

      &:nth-child(4n)
        border-right: none

      @media (max-width: $screen-lg)
        &:nth-child(2n)
          border-right: none

      &:before
        left: 10px

    &-wrap
      border-top: 1px solid


.services-radius
  .services
    &-nav
      margin-bottom: 15px
      @media (min-width: $screen-md)
        margin: 10px 15px 10px


.services:not(.services-radius)
  .services
    &-wrap
      @media (min-width: $screen-md)
        margin: 0 -15px

    &-nav
      box-sizing: border-box


.services:not(.services-square)
  .services
    &-nav
      flex-direction: row-reverse

      @media (max-width: $screen-lg) and (min-width: $screen-md)
        max-width: calc(50% - 30px)

.services-radius
  .services
    &-nav
      background: $colorWhite
      border: 1px solid
      border-radius: 8px

.services-bottom
  .services
    &-nav
      border-bottom: 1px solid
      @media (min-width: $screen-md)
        margin: 0px 15px


