.sample
  &-info
    @include flex

    &-row
      display: flex
      padding-bottom: 12px
      font-size: $font-size-14
      line-height: $lineHeight140

    &-text
      color: $colorH
      padding-left: 8px

.text-simple
  -webkit-line-clamp: 5
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box

.sample-title
  font-weight: $font-weight-medium
  font-size: $font-size-18
  line-height: 140%
  padding: 16px 0 6px
  color: $colorH

.badge
  min-width: 146px
  padding: 6px 7px
  font-weight: 500
  font-size: 12px
  line-height: 15px
  color: $colorH
  min-height: 30px
  display: inline-flex
  align-items: center
  justify-content: center

.carousel-experts-item
  position: relative

.slider
  &-samples
    &-top
      .carousel-experts-item
        &:before
          content: ''
          background: url("../img/general-imgs/samples/pin.svg") no-repeat center
          height: 44px
          width: 22px
          position: absolute
          right: 20px
          top: -14px

      .owl-item
        padding-top: 14px

      .sample-info
        display: none

    .experts-info-footer
      padding: 36px 20px

    .badge
      border-radius: $borderRadius4

    &-middle
      .badge
        border-radius: 0 0 0 10px
        position: absolute
        right: 0
        margin-top: 10px

      .sample-title
        padding-top: 10px

        &:before
          content: ''
          background: url("../img/general-imgs/samples/pin2.svg") no-repeat center
          display: block
          width: 40px
          height: 40px
          margin-bottom: 16px

.slider-samples:not(.slider-samples-top)
  .carousel-experts-item
    .text-simple
      display: none

.slider-samples-middle
  .sample
    &-info
      border-top: 1px dashed
      padding-top: 35px

      &-row
        flex: 0 0 50%
        max-width: 50%


.slider-samples-bottom
  .carousel-experts-item
    background: url(../img/general-imgs/samples/bottom-bg.svg) no-repeat
    border: none
    background-size: 117% auto
    background-position: top -30px left -37px
    border-radius: 8px

  .sample
    &-info
      padding-top: 24px

      &-hd
        flex: 0 0 80px
        max-width: 80px

      &-row
        flex: 0 0 100%
        max-width: 100%

    &-title
      order: -1
      padding-top: 0

  .experts-info-body
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-left: 40px
    padding-right: 40px

  .experts-info-footer
    padding-top: 10px
    padding-left: 40px
    padding-right: 40px






