.spoiler-wrap
  h2
    text-align: left
    margin-bottom: 8px

  ul
    list-style: none
    font-size: 16px

    li
      padding-bottom: 20px
      line-height: $lineHeight175
      list-style-image: url(../img/general-imgs/list/list-bulet.svg)

.btn_read_more, .read_more_active
  display: inline-block
  font-weight: 500
  font-size: 14px
  line-height: 24px
  color: #494949
  cursor: pointer

  .flex_wrp
    display: flex
    justify-content: center

  .circle
    width: 26px
    height: 26px
    background-repeat: no-repeat
    background-position: 55% 50%
    box-sizing: border-box
    border-radius: 50%
    margin-right: 8px
    display: flex
    justify-content: center
    align-items: center

    &:before
      content: '+'
      font-size: 20px
      position: relative
      left: 2px

.read_more_active
  .circle
    &:before
      content: "—"
      font-size: 14px

  p
    margin-bottom: 0

.hidden_block
  margin-top: 40px
  display: none

  &.show
    display: block

  h2
    font-size: 28px
    color: #182B3E
    text-align: left

.btn_read_more
  &:not(.read_more_active)
    [data-read-less]
      display: none

  &.read_more_active
    [data-read-more]
      display: none

.spoiler-text-col
  padding-bottom: 50px
  border-bottom: 2px solid $colorGreyBorder