@media (min-width: 992px)
  .full-page-wrapper
    padding-left: 74px

.full-page-wrapper
  h2:first-child
    margin-bottom: 8px
    font-size: $font-size-28
    line-height: $lineHeight160
    text-align: left

    @media (max-width: $screen-sm)
      font-size: $font-size-22
      line-height: $lineHeight120

  h3

    font-style: normal
    font-weight: $font-weight-bold
    font-size: $font-size-28
    margin-bottom: 20px

  p

    font-style: normal
    font-weight: $font-weight-normal
    line-height: $lineHeight160
    font-size: $font-size-16
    margin-bottom: 25px
    color: #4F4F4F

@media (max-width: 767px)
  .full-page-wrapper
    h2
      line-height: 30px
      font-size: 24px

    h3
      font-size: 18px
      line-height: normal

  .testimonials-container
    margin-top: 15px

.select2-container.select2-container--mobile-main-menu
  border-radius: 10px
  text-align: center
  margin-bottom: 30px
  width: 100% !important

  .select2-selection--single
    height: 50px
    border-radius: 10px

  .select2-results__option
    text-align: left
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-user-select: none

    font-style: normal
    font-weight: $font-weight-normal
    line-height: normal
    font-size: 13px
    width: 100%
    color: #3b3b3b
    padding: 17px 13px !important

  .select2-results__option--highlighted
    background-color: #f5f9fc

  .select2-selection--single .select2-selection__rendered
    border: none
    box-sizing: border-box
    border-radius: 10px
    height: 50px
    line-height: $lineHeight175
    padding-right: 15px
    padding-left: 15px

@media (min-width: 768px)
  .select2-container.select2-container--mobile-main-menu
    display: none !important

.testimonials-container
  position: relative
  z-index: 3

  .testimonials-wrap
    position: relative
    z-index: 4

  .testimonials-container-wrapper
    position: relative
    z-index: 3

  .testimonials-item
    display: none
    margin-bottom: 30px

    .testimonials-main-block
      background: #fff
      border-radius: 20px
      padding: 35px 22px 35px 137px
      width: 100%
      height: 100%
      -ms-flex-pack: justify
      justify-content: space-between
      position: relative
      margin-bottom: 40px

      .testimonials-pic
        position: absolute
        left: 22px
        top: 50%
        margin-top: -51px
        width: 102px
        height: 102px

      .testimonials-star
        min-width: 100px
        margin: (-2px) 20px 0 0

        .star
          margin: 0 2px
          background: url(/assets/img/icons/testimonials-star.svg)
          background-size: 100% 100%
          width: 16px
          height: 16px

      .testimonials-author

        font-style: normal
        font-weight: $font-weight-normal
        line-height: 1
        font-size: 14px
        text-align: center
        margin: 0 15px 0 0

      .testimonials-text
        width: 100%

        font-style: normal
        font-weight: 500
        line-height: 20px
        font-size: 14px
        text-align: left

      .testimonials-order
        margin: 0 15px 0 0

      .testimonials-date, .testimonials-order

        font-style: normal
        font-weight: $font-weight-normal
        line-height: 1
        font-size: 12px
        text-align: center
        color: #b6b6b6

      .testimonials-main-row
        display: -ms-flexbox
        display: flex
        -ms-flex-pack: justify
        -ms-flex-direction: row
        flex-direction: row
        width: 100%
        justify-content: space-between
        margin: 0

        &.testimonials-main-row-top
          margin: 0 0 25px

        .testimonials-main-cell
          display: -ms-flexbox
          display: flex

          .testimonials-main-cell-reverse
            display: -ms-flexbox
            display: flex
            -ms-flex-align: center
            align-items: center

      .testimonials-main-cell
        display: -ms-flexbox
        display: flex
        -ms-flex-align: center
        align-items: center

    .testimonials-content
      position: relative
      padding-left: 54px
      margin-left: 115px

      &:before
        content: ""
        background: url(/assets/img/testim/testimonials-icon.svg) no-repeat
        background-size: cover
        position: absolute
        left: -14px
        top: -6px
        width: 60px
        height: 60px
        z-index: 3

      .testimonials-content-text

        font-style: normal
        font-weight: $font-weight-normal
        line-height: 17px
        font-size: 12px
        opacity: 0.6

      p:last-child
        margin-bottom: 0

@media (min-width: 992px) and (max-width: 1199px)
  .testimonials-container .testimonials-container-wrapper
    &:before
      content: ""
      background: url(/assets/img/testim/testimonials-bg-f.svg) no-repeat
      position: absolute
      left: -150px
      width: 468px
      height: 1512px
      margin-top: 0
      z-index: 2
      top: 135px

    &:after
      content: ""
      background: url(/assets/img/testim/testimonials-bg-s.svg) no-repeat
      position: absolute
      left: -150px
      width: 468px
      height: 1512px
      margin-top: 880px
      z-index: 1

@media (min-width: 1200px)
  .testimonials-container .testimonials-container-wrapper
    &:before
      content: ""
      background: url(/assets/img/testim/testimonials-bg-f.svg) no-repeat
      position: absolute
      left: 0
      width: 468px
      height: 1512px
      margin-top: 0
      z-index: 2
      top: 135px

    &:after
      content: ""
      background: url(/assets/img/testim/testimonials-bg-s.svg) no-repeat
      position: absolute
      left: 0
      width: 468px
      height: 1512px
      margin-top: 880px
      z-index: 1

@media (max-width: 767px)
  .testimonials-container .testimonials-item
    box-shadow: none

    .testimonials-main-block
      margin-bottom: 0
      padding: 20px 22px 20px 131px

@media (min-width: 768px)
  .testimonials-container .testimonials-item .testimonials-main-block
    box-shadow: 0 10px 45px rgba(47, 45, 133, 0.1)

@media (max-width: 767px)
  .testimonials-container .testimonials-item .testimonials-main-block
    .testimonials-pic
      left: 0

    .testimonials-text
      min-height: 110px

    .testimonials-main-row.testimonials-main-row-top
      margin: 0

@media (min-width: 991px) and (max-width: 1199px)
  .testimonials-container .testimonials-item .testimonials-main-block .testimonials-main-row
    &.testimonials-main-row-top
      -ms-flex-direction: column
      flex-direction: column
      -ms-flex-align: start
      align-items: flex-start

    .testimonials-main-cell:first-child
      margin-bottom: 10px

@media (max-width: 767px)
  .testimonials-container .testimonials-item .testimonials-main-block .testimonials-main-row .testimonials-main-cell
    .testimonials-main-cell-reverse
      -ms-flex-direction: column-reverse
      flex-direction: column-reverse
      -ms-flex-align: start
      align-items: flex-start

    -ms-flex-direction: column
    flex-direction: column
    -ms-flex-align: start
    align-items: flex-start
    height: 102px
    -ms-flex-pack: center
    justify-content: center

    .testimonials-author, .testimonials-star
      margin-bottom: 10px

.template-sidebar
  margin-top: 30px

@media (max-width: 767px)
  .testimonials-container .testimonials-item .testimonials-content
    margin-left: 0

  .template-sidebar
    margin-top: 10px

.sidebar-block
  max-width: 100%

  @media (min-width: $screen-xl)
    max-width: 370px

.sidebar-block .nav-tabs--vertical
  margin-bottom: 75px
  border: none
  display: -ms-flexbox
  display: flex
  -ms-flex-flow: column nowrap
  flex-flow: column nowrap

  .nav-item
    &:last-child .nav-link
      border-bottom: none

    .nav-link
      border-bottom: 1px solid #dadaea
      padding: 14px 26px
      font-style: normal
      font-weight: $font-weight-medium
      line-height: $lineHeight160
      font-size: $font-size-16
      color: $colorBody

      &.active
        border: 1px solid transparent
        border-radius: 10px
        position: relative
        color: $colorH

        &:before
          content: ""
          position: absolute
          left: 0
          top: 0
          bottom: 0
          height: 100%
          width: 5px
          border-radius: 10px 0 0 10px

      &:active, &:focus, &:hover
        border-right-color: transparent
        border-left-color: transparent
        border-top-color: transparent

@media (min-width: 992px)
  .sidebar-block .nav-tabs--vertical
    width: 100%

@media (max-width: 991px)
  .sidebar-block .nav-tabs--vertical
    width: 100%
    -ms-flex-flow: row wrap
    flex-flow: row wrap
    margin-bottom: 40px

    .nav-item .nav-link
      border: none
      min-width: 180px

@media (max-width: 991px)
  .sidebar-block .nav-tabs--vertical .nav-item .nav-link.active
    border: none
    background: #f5f9fc

.custom-select-wrap
  color: #fff
  text-align: center
  text-align-last: center
  background: url(/assets/img/icons/select-arrow-w.svg) right 45px center no-repeat
  -moz-appearance: button
  -webkit-user-select: none
  -moz-user-select: none
  -webkit-padding-end: 20px
  -moz-padding-end: 20px
  -webkit-padding-start: 15px
  -moz-padding-start: 15px
  box-sizing: border-box
  border-radius: 5px
  border: 1px solid #aaa
  font-style: normal
  line-height: normal
  font-size: 14px
  margin: 0 0 65px
  overflow: hidden
  padding-top: 17px
  padding-bottom: 17px
  text-overflow: ellipsis
  white-space: nowrap
  font-weight: normal
  width: 100%

/*testimonials

.seo-tabs
  position: relative

  .nav-tabs--left

    .nav-item
      border-radius: 10px
      margin-bottom: 8px
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center

      > a
        min-height: 78px
        width: 100%
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center

  .sidebar-block .nav-tabs--vertical .nav-item .nav-link
    border: none

  .scroll-wrapper
    max-height: 448px
    height: 448px
    overflow-y: auto

  &.testimonials-container .testimonials-container-wrapper:before
    display: none

  .full-page-wrapper
    padding-left: 0

  .jspPane
    padding-right: 50px !important

  .btn_bg
    background: linear-gradient(270deg, #FBB40D 0%, #FB710D 100%)

.two-list li

  font-style: normal
  font-weight: $font-weight-normal
  line-height: 23px
  font-size: 14px

@media (min-width: 768px) and (max-width: 991px)
  .seo-tabs .nav.nav-tabs.nav-tabs--left
    .nav-item
      width: 49%

      &:nth-child(1), &:nth-child(3)
        margin-right: 10px

    margin-bottom: 0

  #how_to_order:after
    display: none

@media (min-width: 768px)
  .two-list
    display: flex
    flex-wrap: wrap

    li
      width: 49%

@media (max-width: 767px)
  #how_to_order:after
    display: none

  .seo-tabs
    background: none

    .tab-content
      margin: 15px 0 0 0

  #how_to_order
    padding-bottom: 276px
    padding-top: 200px

.tabs-holder
  .select2-container .select2-selection--single
    height: auto !important

  .select2-selection--single .select2-selection__rendered
    padding: 13px 40px 9px 16px
    background: url("../img/general-imgs/btns/arrow-stroke.svg") #fff no-repeat
    box-shadow: 0px 10px 45px rgba(47, 45, 133, 0.1)
    border-radius: 10px
    border: none !important
    font-size: 14px
    font-weight: bold
    background-position: 95%
    text-overflow: unset
    line-height: 18px !important
    white-space: inherit !important
    text-align: left
    height: unset
    min-height: 60px
    display: flex
    align-items: center
    font-weight: normal
/*END testimonials