.statistics
  margin-top: 92px
  padding: 25px 35px
  box-sizing: border-box
  border-radius: $borderRadius16
  box-shadow: 0px 10px 40px $shadowRelativePosts

  @media (max-width: $screen-sm)
    padding: 20px

  &:not(.statistics-two-cols)
    .statistics-head
      margin-bottom: 40px

  .sub-title
    @media (max-width: $screen-sm)
      text-align: center

  &-item
    box-sizing: border-box
    @media (min-width: $screen-md)
      padding: 0 18px
      @include flex-1
      max-width: 25%

    @media (max-width: $screen-sm)
      padding: 20px 0
      flex: 0 0 100%
      max-width: 100%
      justify-content: center
      text-align: center

  &-left-border
    .statistics-item
      @media (min-width: $screen-md)
        border-left: 2px dashed

      @media (max-width: $screen-sm)
        border-bottom: 2px dashed

        &:last-of-type
          border-bottom: none

  &-score
    font-weight: $font-weight-bold
    font-size: $font-size-28
    line-height: $lineHeight140

    @media (max-width: $screen-lg)
      font-size: $font-size-24

  &-img
    @include flex-center-items
    border-radius: $borderRadius6
    width: 64px
    height: 64px

    @media (max-width: $screen-sm)
      margin: 0 auto

  &-title
    font-weight: $font-weight-bold
    font-size: $font-size-34
    line-height: $lineHeight140
    color: $colorStatisticsH
    padding-bottom: 7px

    @media (max-width: $screen-lg)
      font-size: $font-size-28
      line-height: $lineHeight120

    @media (max-width: $screen-sm)
      text-align: center

  &-top-img
    text-align: center

    .statistics-img
      margin: 0 auto 16px

  &-two-cols
    @include flex-between
    @include flex-1

    .statistics-inner,
    .statistics-head,
    .statistics-item
      max-width: 50%

      @media (max-width: $screen-lg)
        max-width: 100%

    .statistics-head
      @media (max-width: $screen-lg)
        text-align: center
        width: 100%
        padding-bottom: 20px

    .statistics-item
      flex: 0 0 50%
      display: flex
      @include align-items-center
      margin-bottom: 24px

      @media (max-width: $screen-sm)
        flex: 0 0 100%
        flex-wrap: wrap
        margin-bottom: 0

    .statistics-body
      @media (max-width: $screen-sm)
        width: 100%

    .statistics-img
      width: 40px
      height: 40px
      margin-right: 20px

      @media (max-width: $screen-sm)
        margin: 0 auto 10px

      img
        max-width: 40px






