.testimonials
  .after-title
    max-width: 730px
    margin: 0 auto

    @media (min-width: $screen-lg)
      padding: 0 100px

.h2-imgs
  &:before, &:after
    content: ''

.slider-bottom-img
  max-width: 146px

.slider-testimonials
  .title-img-wrap
    flex-direction: column

  .slide-body-stretch
    flex: 1
    margin-bottom: 16px

  .carousel-experts-item
    padding: 20px 30px

  .order-id
    padding-bottom: 10px

  .carousel-stars-wrap
    padding-top: 7px

    img
      margin: 0 1.5px
      width: 20px

  .carousel-head-item
    padding-left: 20px
    padding-right: 20px

  &:not(.testimonials-bottom)
    .carousel-experts-item
      text-align: center

    .experts-head-top, .carousel-stars
      justify-content: center

    .slider-bottom-img
      margin: 0 auto

  &:not(.testimonials-middle)
    .carousel-experts-item
      border-top: 7px solid

      &:before
        content: ''
        background: url("../img/general-imgs/testimonials/quore.svg") no-repeat center
        width: 34px
        height: 24px
        position: absolute
        right: 18px
        top: 20px


.testimonials
  &-top
    .owl-item
      padding-top: 25px

    .experts-head-img
      margin: -57px auto 0

    .carousel-star-item
      display: none

    .order-id
      padding-top: 22px

  &-middle
    .carousel-star-item
      background-color: $ratingGreenBG
      border-radius: $borderRadius4
      color: $ratingGreenText
      width: 115px
      text-align: center
      margin-bottom: 5px

    .carousel-stars-wrap
      display: none

    .title-img-wrap
      align-self: center
      position: absolute
      bottom: -100px
      margin: 0 auto

    .owl-item
      padding-bottom: 100px

    .carousel-experts-item
      &:after, &:before
        content: ''
        display: block
        position: absolute
        left: calc(50% - 12px)
        width: 0
        height: 0
        border-style: solid

      &:after
        bottom: -22px
        border-color: $colorWhite transparent transparent transparent
        border-width: 11px

      &:before
        bottom: -23px
        border-color: transparent
        border-width: 11px

  &-bottom
    img.experts-head-img, .carousel-star-item
      display: none

    .experts-head-top, .carousel-stars
      order: -3

    .order-id
      order: -2

    .carousel-stars-wrap
      padding-top: 0

    .testimonial-h
      margin-top: 35px






