.why-us

  &-col
    @include flex
    max-width: 100%

  &-item
    box-sizing: border-box
    padding: 15px

.why-us
  &:not(&-right-img)
    .why-us-item
      flex: 0 0 33%
      max-width: 33%
      display: flex
      align-items: stretch

      @media (max-width: $screen-lg) and (min-width: $screen-md)
        flex: 0 0 50%
        max-width: 50%

      @media (max-width: $screen-sm)
        flex: 0 0 100%
        max-width: 100%

    .why-us-item-inner
      width: 100%

    &-text
      padding-top: 12px

    .why-us-img-right
      display: none

  &-img
    @include flex-center
    align-items: flex-end
    border-radius: $borderRadius6
    width: 62px
    height: 68px
    object-fit: contain

  &-caption
    font-weight: $font-weight-semi-bold
    font-size: $font-size-22
    line-height: $lineHeight140
    color: $colorH

  &-text
    font-size: $font-size-16

  &-inner
    padding-bottom: 40px

  &-white-items
    .why-us-img
      margin-bottom: 30px

    .why-us-item-inner
      border: 1px solid
      background: $colorWhite
      padding: 40px 42px 65px


  &-center-items
    text-align: center

    .why-us-img
      margin: 12px auto

    .why-us-body
      max-width: 286px
      margin: 0 auto


  &-right-img
    .why-us-inner
      @include flex-center-items

    .why-us-col
      max-width: 380px

    .why-us-item-inner
      @include flex

    .why-us-body
      flex: 1

    .why-us-img
      margin-right: 30px

    .why-us-img-right
      @media (min-width: $screen-lg)
        margin-left: 80px
        max-width: 400px

      @media (max-width: $screen-sm)
        max-width: 70%
        margin-top: 10px

  &:not(.why-us-right-img)
    .why-us-caption
      margin-bottom: 12px





