<div class="cta1 cta-bg-dots mb-140 cta1-bottom">

    <!-- Change cta1-bottom class for view:
      cta1-top - for http://joxi.ru/Q2KG3ZEIy16v02
      cta1-middle - for http://joxi.ru/8AnOYlvcoe9yVr
      cta1-bottom - for http://joxi.ru/KAxNDkOUvgGKjm
      -->

    <div class="container">

        <div class="cta1-wrap cta-wrap-inner">
            <div class="cta1-caption">
                Save on your first order.
                <span class="cta1-inside colored-text">Up to 10% OFF!</span>
            </div>

            <div class="cta-btn-select">
                <div class="cta-select">
                    <select name="service_type_cta"
                            class="form-control type_of_paper_main js-example-basic-single select2-hidden-accessible">
                        <option selected="selected" value="Essay">Essay</option>
                        <option value="Dissertation">Dissertation</option>
                        <option value="Research paper">Research paper</option>
                    </select>
                </div>
                <a class="btn btn-main btn-arrow-right cta1-btn" href="#">USE A DISCOUNT</a>
            </div>

            <div class="cta1-text">
                Use 5% OFF for the order & get 5% back after
            </div>
        </div>

    </div>
</div>