<div class="hero-calc calc-holder">
    <div class="hero-calc-folder-shape">
        <div class="calc-folder-shape-inner"></div>
    </div>
    <!--Home Calculator-->
    <form id="calc_form" class="calc-new" action="" method="post">
        <p class="mainTitle">What’s the price? </p>
        <div class="row">
            <div class="col-md-12 block-academic-level">
                <div class="form-group">
                    <div class="title-calc">
                        Academic Level
                        <div class="info-tooltip-calc info-tooltip"></div>
                        <div class="info-tooltip-wrap" style="display: none;">
                            <div class="info-tooltip-title">
                                How to choose academic level:
                                <div class="close-mob-tooltip btn"></div>
                            </div>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Undergraduate</td>
                                    <td>Studying for 1st degree</td>
                                </tr>
                                <tr>
                                    <td>Master</td>
                                    <td>Studying for Master’s degree</td>
                                </tr>
                                <tr>
                                    <td>Ph.D.</td>
                                    <td>Pursuing Doctoral degree</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn-group btn-group-level btn-group-toggle d-flex"
                         data-toggle="buttons">
                        <label data-ew-tst="of-undr" class="btn btn-secondary btn-custom active">
                            <input type="radio" name="academic_level" value="1"
                                   data-academ-level-name="Undergraduate"
                                   id="academic_levelUND" checked> High School
                        </label>
                        <label data-ew-tst="of-college" class="btn btn-secondary btn-custom">
                            <input type="radio" name="academic_level" value="2"
                                   data-academ-level-name="Undergraduate"
                                   id="academic_levelCollege"> College
                        </label>
                        <label data-ew-tst="of-bach" class="btn btn-secondary btn-custom">
                            <input type="radio" name="academic_level" value="3"
                                   data-academ-level-name="Bachelor"
                                   id="academic_levelBACH"> University
                        </label>
                        <label data-ew-tst="of-pro" class="btn btn-secondary btn-custom">
                            <input type="radio" name="academic_level" value="4"
                                   data-academ-level-name="Professional"
                                   id="academic_levelPROF"> Ph.D.
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="type_of_paper" class="title-calc">Type of Paper</label>
                    <select name="service_type"
                            class="form-control type_of_paper_main js-example-basic-single select2-hidden-accessible"
                            id="type_of_paper">
                        <optgroup label="Most Ordered">
                            <option selected="selected" data-top-category="1" value="Essay">Essay
                            </option>
                            <option data-top-category="1" value="Research paper">Research paper</option>
                            <option data-top-category="1" value="Question & Answer">Question & Answer
                            </option>
                            <option data-top-category="1" value="Course work">Course work</option>
                            <option data-top-category="1" value="Case study">Case study</option>
                        </optgroup>
                        <optgroup label="Essays">
                            <option value="Annotated bibliography" data-top-category="1">Annotated
                                bibliography
                            </option>
                            <option value="Argumentative essay" data-top-category="1">Argumentative
                                essay
                            </option>
                            <option value="Article" data-top-category="1">Article</option>
                            <option value="Article review" data-top-category="1">Article review</option>
                            <option value="Biography" data-top-category="1">Biography</option>
                            <option value="Blog writing" data-top-category="1">Blog writing</option>
                            <option value="Book review" data-top-category="1">Book review</option>
                            <option value="Business plan" data-top-category="1">Business plan</option>
                            <option value="Capstone project" data-top-category="1">Capstone project
                            </option>
                            <!--                        {*<option value="Case study" data-top-category="1">Case study</option>*}-->
                            <!--                        {*<option value="Course work" data-top-category="1">Coursework</option>*}-->
                            <option value="Creative writing" data-top-category="1">Creative writing
                            </option>
                            <option value="Critical thinking" data-top-category="1">Critical thinking
                            </option>
                            <option value="Online Lecture to Summary">Online Lecture to Summary</option>
                            <!--                        {*<option selected="selected" value="Essay" data-top-category="1">Essay</option>*}-->
                            <option value="Exam notes" data-top-category="1">Exam notes</option>
                            <option value="Lab report" data-top-category="1">Lab report</option>
                            <option value="Literature review" data-top-category="1">Literature review
                            </option>
                            <option value="Movie review" data-top-category="1">Movie review</option>
                            <option value="Poster presentation" data-top-category="1">Poster
                                presentation
                            </option>
                            <option value="Presentation" data-top-category="1">Presentation</option>
                            <!--                        {*<option value="Question & Answer" data-top-category="1">Question & Answer</option>*}-->
                            <option value="Reflective report" data-top-category="1">Reflective report
                            </option>
                            <option value="Report" data-top-category="1">Report</option>
                            <!--                        {*<option value="Research paper" data-top-category="1">Research paper</option>*}-->
                            <option value="Research proposal" data-top-category="1">Research proposal
                            </option>
                            <option value="Speech" data-top-category="1">Speech</option>
                            <option value="Term paper" data-top-category="1">Term paper</option>
                            <option value="Thesis" data-top-category="1">Thesis</option>
                            <option value="Thesis proposal" data-top-category="1">Thesis proposal
                            </option>
                            <option value="Thesis statement" data-top-category="1">Thesis statement
                            </option>
                        </optgroup>
                        <optgroup label="Homework Help">
                            <option value="Biology Assignment" data-top-category="7">Biology Assignment
                            </option>
                            <option value="Chemistry Assignment" data-top-category="7">Chemistry
                                Assignment
                            </option>
                            <option value="Engineering Assignment" data-top-category="7">Engineering
                                Assignment
                            </option>
                            <option value="Geography Assignment" data-top-category="7">Geography
                                Assignment
                            </option>
                            <option value="Math Assignment" data-top-category="7">Math Assignment
                            </option>
                            <option value="Physics Assignment" data-top-category="7">Physics Assignment
                            </option>
                            <option value="Programming Assignment" data-top-category="7">Programming
                                Assignment
                            </option>
                            <option value="Other Assignment" data-top-category="7">Other Assignment
                            </option>
                        </optgroup>
                        <optgroup label="Dissertation">
                            <option value="Dissertation" data-top-category="4">Dissertation</option>
                            <option value="Dissertation abstract" data-top-category="4">Dissertation
                                abstract
                            </option>
                            <option value="Dissertation chapter" data-top-category="4">Dissertation
                                chapter
                            </option>
                            <option value="Dissertation conclusion" data-top-category="4">Dissertation
                                conclusion
                            </option>
                            <option value="Dissertation hypothesis" data-top-category="4">Dissertation
                                hypothesis
                            </option>
                            <option value="Dissertation introduction" data-top-category="4">Dissertation
                                introduction
                            </option>
                            <option value="Dissertation methodology" data-top-category="4">Dissertation
                                methodology
                            </option>
                            <option value="Dissertation proposal" data-top-category="4">Dissertation
                                proposal
                            </option>
                            <option value="Dissertation results" data-top-category="4">Dissertation
                                results
                            </option>
                            <option value="Dissertation topics" data-top-category="4">Dissertation
                                topics
                            </option>
                        </optgroup>
                        <optgroup label="Admissions">
                            <option value="Admission essay" data-top-category="3">Admission essay
                            </option>
                            <option value="Application letter" data-top-category="3">Application letter
                            </option>
                            <option value="Cover letter" data-top-category="3">Cover letter</option>
                            <option value="Curriculum vitae" data-top-category="3">Curriculum vitae
                            </option>
                            <option value="Personal statement" data-top-category="3">Personal statement
                            </option>
                            <option value="Resume" data-top-category="3">Resume</option>
                        </optgroup>
                        <optgroup label="Questions & Problems">
                            <option value="Multiple choice questions" data-top-category="2">Multiple
                                choice
                                questions
                            </option>
                            <option value="Problem solving" data-top-category="2">Problem solving
                            </option>
                            <option value="Rewriting" data-top-category="2">Rewriting</option>
                        </optgroup>
                        <option value="Editing/proofreading" data-top-category="">Editing/proofreading
                        </option>
                        <option value="Typing" data-top-category="">Typing</option>
                        <option value="Other" data-top-category="">Other</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="pages" class="title-calc">Quantity</label>
                    <div class="d-flex">
                        <input type="text" class="form-control input-pages-words" name="pages"
                               id="pages"
                               value="1"
                               size="3" maxlength="3">
                        <input type="text" class="form-control input-pages-words" name="words"
                               id="words"
                               value="275"
                               size="3" maxlength="6" style="display: none;">
                        <div class="btn-group btn-group-lenght btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary btn-custom active pages-calculator">
                                <input type="radio" name="options" id="option-pages"
                                       checked> Pages
                            </label>
                            <label class="btn btn-secondary btn-custom words-calculator">
                                <input type="radio" name="options" id="option-words">
                                Words
                            </label>
                            <label class="btn btn-secondary btn-custom active questions-calculator"
                                   style="display: none;">
                                <input type="radio" name="options" id="option-questions">
                                Questions
                            </label>
                            <label class="btn btn-secondary btn-custom active problems-calculator"
                                   style="display: none;">
                                <input type="radio" name="options" id="option-problems">
                                Problems
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 datetimepicker_wrap datepricker-new-addon">
                <div class="form-group">
                    <label for="datetimepicker" class="title-calc">Deadline</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="datetimepicker" readonly/>
                        <span class="input-group-addon icon-close-datetimepicker"></span>
                    </div>
                </div>
                <input name="deadline" type="hidden" value="2115" class="d-none">
            </div>

            <div class="col-price-footer col-md-12 d-flex">
                <div class="col-price">
                    <div class="title-calc">Approx. price</div>
                    <div class="price-total" id="price_div">
                        <span class="currency">$</span><span class="price">10</span>
                    </div>
                </div>
                <div class="col-proceed">
                    <a href="#"
                       class="btn btn-procide-calc button-order-page cta-button cta-button--red">
                        proceed to order
                    </a>
                </div>
            </div>
        </div>
    </form>
    <!--END Home Calculator-->
</div>