<section class="mb-140">
    <div class="container">

        <div class="h2-lnd-caption text-center">
            <h2>Meet our writers</h2>
            <div class="after-title">Team of professional essay writers</div>
        </div>

        <!--
        slider-top - for http://joxi.ru/KAgdDVpUNBQn8r
        slider-middle - for http://joxi.ru/l2ZEGqBtR1gD3m
        slider-bottom - for http://joxi.ru/V2VEJ71t8Qb0xm
        -->

        <div class="owl-carousel slider-middle">
            <!--1-->
            <div class="carousel-experts-item">
                <div class="carousel-top">
                    <div class="carousel-head-item">
                        <img class="experts-head-img" src="./img/master/our-writers/Badrun5.png" alt="">
                        <div class="experts-head-top d-flex">
                            <div class="carousel-reviewer-title">Donte Chadwick</div>
                        </div>

                        <div class="carousel-stars d-flex">
                            <div class="carousel-stars-wrap">
                                @@include('../sections/rating.html')
                            </div>
                            <div class="carousel-star-item">4,9</div>
                            <div class="carousel-reviews-count text-grey">(181)</div>
                        </div>
                    </div>

                    <div class="experts-info-body">
                        <div class="experts-info-item">
                            <div class="experts-info-orders experts-info-inner">
                                <div class="experts-info-sing">264</div>
                                <span class="text-grey">orders</span>
                            </div>
                            <div class="experts-info-complited experts-info-inner">
                                <div class="experts-info-sing">100%</div>
                                <span class="text-grey">Success rate</span>
                            </div>
                        </div>

                        <div class="experts-competences-section">
                            <div class="experts-competences-label">Competences:</div>
                            <div class="experts-competences-holder d-flex">
                                <div class="experts-competences-item">Physics</div>
                                <div class="experts-competences-item">Math</div>
                                <div class="experts-competences-item">Algebra</div>
                                <div class="experts-competences-item">Geometry</div>
                                <div class="experts-competences-item">Environmental studies</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="experts-info-footer text-center">
                    <div class="slider-text-hold">
                        <div class="slider-text">I am a professional admissions writer with 16 years of experience
                            helping students get admitted
                            to their dream colleges and universities. My specialty and passion for essays and papers
                            related
                            to college or university applications stem from my expertise in creative writing. You can
                            always
                            rely on me for all papers allied to admissions, and I guarantee that you will be considered
                            for
                            college placement.
                        </div>
                    </div>
                    <a class="btn btn-light" href="#">Hire a writer</a>
                </div>
            </div>

            <!--            2-->
            <div class="carousel-experts-item">
                <div class="carousel-top">
                    <div class="carousel-head-item">
                        <img class="experts-head-img" src="./img/master/our-writers/Ikbal4.png" alt="">
                        <div class="experts-head-top d-flex">
                            <div class="carousel-reviewer-title">Adnaan Holder</div>
                        </div>

                        <div class="carousel-stars d-flex">
                            <div class="carousel-stars-wrap">
                                @@include('../sections/rating.html')
                            </div>
                            <div class="carousel-star-item">5</div>
                            <div class="carousel-reviews-count text-grey">(92)</div>
                        </div>
                    </div>

                    <div class="experts-info-body">
                        <div class="experts-info-item d-flex">
                            <div class="experts-info-orders experts-info-inner">
                                <div class="experts-info-sing">150</div>
                                <span class="text-grey">orders</span>
                            </div>
                            <div class="experts-info-complited experts-info-inner">
                                <div class="experts-info-sing">99%</div>
                                <span class="text-grey">Success rate</span>
                            </div>
                        </div>

                        <div class="experts-competences-section">
                            <div class="experts-competences-label">Competences:</div>
                            <div class="experts-competences-holder d-flex">
                                <div class="experts-competences-item">Literature</div>
                                <div class="experts-competences-item">English</div>
                                <div class="experts-competences-item">History</div>
                                <div class="experts-competences-item">Art</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="experts-info-footer text-center">
                    <div class="slider-text-hold">
                        <div class="slider-text">I am a professional admissions writer with 16 years of experience
                            helping
                            students get admitted
                            to their dream colleges and universities. My specialty and passion for essays and papers
                            related
                            to college or university applications stem from my expertise in creative writing. You can
                            always
                            rely on me for all papers allied to admissions, and I guarantee that you will be considered
                            for
                            college placement.
                        </div>
                    </div>
                    <a class="btn btn-light" href="#">Hire a writer</a>
                </div>
            </div>

            <!--3-->
            <div class="carousel-experts-item">
                <div class="carousel-top">
                    <div class="carousel-head-item">
                        <img class="experts-head-img" src="./img/master/our-writers/Marni5.png" alt="">
                        <div class="experts-head-top d-flex">
                            <div class="carousel-reviewer-title">Krzysztof Fulton</div>
                        </div>

                        <div class="carousel-stars d-flex">
                            <div class="carousel-stars-wrap">
                                @@include('../sections/rating.html')
                            </div>
                            <div class="carousel-star-item">4,8</div>
                            <div class="carousel-reviews-count text-grey">(123)</div>
                        </div>
                    </div>

                    <div class="experts-info-body">
                        <div class="experts-info-item d-flex">
                            <div class="experts-info-orders experts-info-inner">
                                <div class="experts-info-sing">139</div>
                                <span class="text-grey">orders</span>
                            </div>
                            <div class="experts-info-complited experts-info-inner">
                                <div class="experts-info-sing">100%</div>
                                <span class="text-grey">Success rate</span>
                            </div>
                        </div>

                        <div class="experts-competences-section">
                            <div class="experts-competences-label">Competences:</div>
                            <div class="experts-competences-holder d-flex">
                                <div class="experts-competences-item">History</div>
                                <div class="experts-competences-item">English</div>
                                <div class="experts-competences-item">Culture</div>
                                <div class="experts-competences-item">Ethics</div>
                                <div class="experts-competences-item">Education</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="experts-info-footer text-center">
                    <div class="slider-text-hold">
                        <div class="slider-text">I am a professional admissions writer with 16 years of experience
                            helping
                            students get admitted
                            to their dream colleges and universities. My specialty and passion for essays and papers
                            related
                            to college or university applications stem from my expertise in creative writing. You can
                            always
                            rely on me for all papers allied to admissions, and I guarantee that you will be considered
                            for
                            college placement.
                        </div>
                    </div>
                    <a class="btn btn-light" href="#">Hire a writer</a>
                </div>
            </div>

            <!--4-->
            <div class="carousel-experts-item">
                <div class="carousel-top">
                    <div class="carousel-head-item">
                        <img class="experts-head-img" src="./img/master/our-writers/Marni5.png" alt="">
                        <div class="experts-head-top d-flex">
                            <div class="carousel-reviewer-title">Kristina Barker</div>
                        </div>

                        <div class="carousel-stars d-flex">
                            <div class="carousel-stars-wrap">
                                @@include('../sections/rating.html')
                            </div>
                            <div class="carousel-star-item">5</div>
                            <div class="carousel-reviews-count text-grey">(302)</div>
                        </div>
                    </div>

                    <div class="experts-info-body">
                        <div class="experts-info-item d-flex">
                            <div class="experts-info-orders experts-info-inner">
                                <div class="experts-info-sing">480</div>
                                <span class="text-grey">orders</span>
                            </div>
                            <div class="experts-info-complited experts-info-inner">
                                <div class="experts-info-sing">100%</div>
                                <span class="text-grey">Success rate</span>
                            </div>
                        </div>

                        <div class="experts-competences-section">
                            <div class="experts-competences-label">Competences:</div>
                            <div class="experts-competences-holder d-flex">
                                <div class="experts-competences-item">Math</div>
                                <div class="experts-competences-item">Education</div>
                                <div class="experts-competences-item">Economics</div>
                                <div class="experts-competences-item">Chemistry</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="experts-info-footer text-center">
                    <div class="slider-text-hold">
                        <div class="slider-text">I am a professional admissions writer with 16 years of experience
                            helping
                            students get admitted
                            to their dream colleges and universities. My specialty and passion for essays and papers
                            related
                            to college or university applications stem from my expertise in creative writing. You can
                            always
                            rely on me for all papers allied to admissions, and I guarantee that you will be considered
                            for
                            college placement.
                        </div>
                    </div>
                    <a class="btn btn-light" href="#">Hire a writer</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END Experts-->