<section class="why-us mb-140 why-us-right-img">

    <!-- Change why-us-right-img class for view:
        why-us-white-items - for http://joxi.ru/v29ozYZcRvOjor
        why-us-center-items - for http://joxi.ru/VrwNDxOUjM5gxA
        why-us-right-img - for http://joxi.ru/EA4jGYMcvBK03m
      -->

    <div class="container">
        <h2 class="why-us-title text-center">Why students choose us?</h2>

        <div class="why-us-inner row">
            <div class="why-us-col">
                <div class="why-us-item">
                    <div class="why-us-item-inner">
                        <div class="why-us-img">
                            <img class="img-fluid" src="./img/master/why-us/icon1.png" alt="">
                        </div>
                        <div class="why-us-body">
                            <div class="why-us-caption">Any deadline & subject</div>
                            <div class="why-us-text">
                                Our deadlines start at just 3 hours. Choose out of 70+ subjects.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="why-us-item">
                    <div class="why-us-item-inner">
                        <div class="why-us-img">
                            <img class="img-fluid" src="./img/master/why-us/icon2.png" alt="">
                        </div>
                        <div class="why-us-body">
                            <div class="why-us-caption">
                                Email & SMS alerts
                            </div>
                            <div class="why-us-text">
                                Get alerts to know about order statuses change on the go.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="why-us-item">
                    <div class="why-us-item-inner">
                        <div class="why-us-img">
                            <img class="img-fluid" src="./img/master/why-us/icon3.png" alt="">
                        </div>
                        <div class="why-us-body">
                            <div class="why-us-caption">
                                Interaction with a writer
                            </div>
                            <div class="why-us-text">
                                Discuss details with your writer on the order page in real time.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="why-us-item">
                    <div class="why-us-item-inner">
                        <div class="why-us-img">
                            <img class="img-fluid" src="./img/master/why-us/icon4.png" alt="">
                        </div>
                        <div class="why-us-body">
                            <div class="why-us-caption">
                                Original & confidential
                            </div>
                            <div class="why-us-text">
                                We write from scratch and keep all your information a secret.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="why-us-item">
                    <div class="why-us-item-inner">
                        <div class="why-us-img">
                            <img class="img-fluid" src="./img/master/why-us/icon5.png" alt="">
                        </div>
                        <div class="why-us-body">
                            <div class="why-us-caption">
                                Certified writers
                            </div>
                            <div class="why-us-text">
                                Each writer has either MB or PhD diploma and writing certificates.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="why-us-item">
                    <div class="why-us-item-inner">
                        <div class="why-us-img">
                            <img class="img-fluid" src="./img/master/why-us/icon6.png" alt="">
                        </div>
                        <div class="why-us-body">
                            <div class="why-us-caption">
                                24/7 online support
                            </div>
                            <div class="why-us-text">
                                Email, call, or chat with our managers day-and-night.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <img class="why-us-img-right" src="./img/master/why-us/why-us-right-img.svg" alt="">
        </div>

        <div class="text-center">
            <a class="btn btn-main btn-arrow-right" href="#">Order now</a>
        </div>

    </div>
</section>