html
  overflow-x: hidden

body
  font-size: $font-size-14
  font-style: normal
  font-weight: $font-weight-normal
  line-height: $lineHeight160
  color: $colorBody
  overflow-x: hidden
  font-family: $font-family

//*, *::before, *::after
//  box-sizing: inherit

p
  font-size: 16px
  margin-bottom: 28px
  line-height: $lineHeight175

.img-float-right
  float: right
  margin: 0px 0 40px 109px

  @media (min-width: $screen-xl)
    margin-top: -40px

  @media (max-width: $screen-lg) and (min-width: $screen-md)
    max-width: 40%
    margin-left: 40px

  @media (max-width: $screen-sm)
    max-width: 100%
    float: none
    margin: 15px auto
    display: block


.img-float-left
  float: left
  margin: 0px 109px 40px 0

  @media (min-width: $screen-xl)
    margin-top: -40px

  @media (max-width: $screen-lg) and (min-width: $screen-md)
    max-width: 40%
    margin-right: 40px

  @media (max-width: $screen-sm)
    max-width: 100%
    float: none
    margin: 15px auto
    display: block


.mb-140
  margin-bottom: 80px

  @media (min-width: $screen-md)
    margin-bottom: 100px

  @media (min-width: $screen-lg)
    margin-bottom: 140px

.container, .container-lg, .container-md, .container-sm, .container-xl
  @media (min-width: $screen-xxl)
    max-width: 1200px


