//seo-text
.seo-text
  h2
    line-height: 50px
    text-align: left

.rating
  @include flex-center-items
  unicode-bidi: bidi-override
  direction: ltr

  input
    position: absolute
    left: -999999px

  label
    position: relative
    display: inline-block
    font-size: 0
    max-height: 14px
    margin: 0 3px

    @media (max-width: $screen-sm)
      margin: 0px 0px


.rating > label:before
  position: relative
  font-size: 12px
  display: block
  content: ""
  height: 14px
  width: 14px
  background: url(../img/general-imgs/rating/star.png) no-repeat transparent
  background-size: contain

  //@media (max-width: $screen-sm)
    max-width: 11px


.rating > label:not(.selected):before,
.rating > label:not(.selected) ~ label:before
  filter: grayscale(1)

.rating > .half-selected:after
  content: ''
  background: url(../img/general-imgs/rating/half-star-color.png) no-repeat transparent
  background-size: 8px auto
  position: absolute
  top: -1px
  left: -1px
  height: 14px
  width: 14px

.carousel-stars-wrap
  .rating > label:before
    background: url(../img/general-imgs/rating/star-slider.png) no-repeat transparent
    background-size: contain

  .rating > .half-selected:after
    background: url(../img/general-imgs/rating/half-star-slider.png) no-repeat transparent
    background-size: 8px auto

/* ----STARS---- */

.stars
  width: 80px
  display: -webkit-box
  display: -webkit-flex
  display: -moz-box
  display: -ms-flexbox
  display: flex

.rating__star
  span
    overflow: hidden
    display: block
    height: 100%
    font-size: 0
    line-height: 20px
    display: flex
    align-items: center

  display: inline-block
  vertical-align: middle
  width: 14px
  height: 13px
  margin: 0 1.35px
  text-align: center
  background: url('../img/general-imgs/rating/star-trans.svg') 0 1px no-repeat
  -webkit-background-size: 100% 100%
  -moz-background-size: 100%
  background-size: 100%


