@font-face
  src: url(#{$font-path}Inter-Light.ttf) format("truetype")
  font-family: $font-family
  font-weight: $font-weight-light
  font-display: swap

@font-face
  src: url(#{$font-path}Inter-Regular.ttf) format("truetype")
  font-family: $font-family
  font-weight: $font-weight-normal
  font-display: swap

@font-face
  src: url(#{$font-path}Inter-Medium.ttf) format("truetype")
  font-family: $font-family
  font-weight: $font-weight-medium
  font-display: swap

@font-face
  src: url(#{$font-path}/Inter-SemiBold.ttf) format("truetype")
  font-family: $font-family
  font-weight: $font-weight-semi-bold
  font-display: swap

@font-face
  src: url(#{$font-path}/Inter-Bold.ttf) format("truetype")
  font-family: $font-family
  font-weight: $font-weight-bold

@font-face
  src: url(#{$font-path}Inter-Black.ttf) format("truetype")
  font-family: $font-family
  font-weight: $font-weight-black


//@font-face
////font-family: "Font"
////src: url("../fonts/...")
//
//$font-family: 'Font'