@import "variables"
@import "mixins"

//colors
$colorMain: #4D68F1
$colorMedium: #9BAAFA
$colorLigth: #9CA6DD
$borderColor: #EDF0FF
$colorGreyLight: #CCD0E7
$ctaTopBG: #EDF0FE
$badgeBG: #DDF0FF
$colorGreyMeddium: #D5D5D5
$ctaTopBorder: #CBD0E8
$colorLigther: #E3E7FE
$colorBlueLigth: #EDF5FB
$backgroundBtn: rgba(84, 110, 247, 0.1)
$bodyBg: #FAFAFA
$navSliderBG: #EEF1FE
$bodyShadow: 0px 30px 40px rgba(212, 217, 232, 0.2)
$whyUsShadow: 0px 10px 40px rgba(187, 188, 191, 0.2)
$btnMainShadow: 0px 10px 20px rgba(84, 110, 247, 0.25)
$cta2TwoColsAfter: #86B6FC

//faq colors
$faqArrow: #BDBDBD
$faqBg: rgba(241, 242, 255, 0.5)
$faqPlusBg: rgba(77, 104, 241, .1)
//END faq colors

//vertical tabs colors
$tabsBg: #F7F7F7
$tabsBorderActive: #BABCF3
$tabsBgActive: #EFF2FB
$tabsScrollBg: #DADCDE
//end colors

//spoilers
$colorReadMoreBtn: rgba(77, 104, 241, 0.1)
//end spoilers

//footer
$dropdownBG: #F5F6FD
$socialBtnsBG: #91A0EB
//end footer

//chart
$chartsMainColor: #7286F3
$chartsDiscColor: #EEF1FF
$chartsBorderColor: #D9DEF9
$chartsMainColor2: #8C96EE
//end chart

//general
body
  background-image: url('../img/master/bg-dots-n.svg')
  background-image: url('../img/master/bg-dots-n.svg'), linear-gradient(180deg, rgba(234, 235, 255, 0) 0%, #EAEBFF 54.17%, rgba(234, 235, 255, 0) 100%)
  background-size: 100% auto
  //background-position: bottom
  //background-color: $bodyBg


.jspDrag
  background: $tabsBorderActive

.jspTrack
  background: $tabsScrollBg
//END general

//btns
.btn
  &-light
    border-color: transparent
    background-color: $backgroundBtn
    color: $colorMain

    &-watch
      path
        fill: $colorMain

  &-main
    background-color: $colorMain
    color: $colorWhite
    box-shadow: $btnMainShadow

    &:hover
      color: $colorWhite

  //&-arrow-right
    &:after
      background-color: $colorWhite
//END btns

//hero
.hero-bg
  background: url('../img/master/bg_gradient_hero.svg') no-repeat
  background-size: 100% auto

.colored-text
  color: $colorMain

.hero-bg-icons
  @media (min-width: $screen-lg)
    background: url('../img/master/bg-header-icons.svg') no-repeat
    background-size: 100% auto
    background-position: bottom -13px center

.hero-bg-icons2
  @media (min-width: $screen-lg)
    background: url('../img/master/hero-bg-icons2.png?v=1') no-repeat
    background-position: left 30px bottom
    padding-bottom: 110px

  .hero-calc
    position: relative
    &:before
      content: ''
      width: 80px
      height: 80px
      position: absolute
      right: 10px
      top: -35px
      background: url('../img/master/coffee-cup.png') no-repeat
      background-size: contain
      z-index: 1

    &:after
      content: ''
      width: 80px
      height: 80px
      position: absolute
      right: 0px
      bottom: -35px
      background: url('../img/master/duck.png') no-repeat
      background-size: contain
      z-index: 1



.hero-bg-icons, .hero-bg-icons2
  .hero-wrapper-left
    @media (min-width: $screen-lg)
      &:before
        width: 60px
        height: 60px
        content: ''
        display: block
        background: url('../img/master/alarm.png') no-repeat
        margin-bottom: 5px
//END hero

//nav
.navbar-top .navbar-nav .btn-light
  color: $colorMain
  border-color: transparent

.dropdown-toggle,
.menu-item-has-children
  &:after
    border-top-color: $colorMain
//END nav

//statistics, why-us
.statistics, .why-us
  .statistics-item
    border-color: $colorLigth

.why-us,
.how-works
  &-white-items
    .why-us-item-inner, .how-works-item-inner
      border-color: $borderColor
      box-shadow: $whyUsShadow
      border-radius: $borderRadius8
//END statistics, why-us

//how it works
.how-works
  &-white-items, &-vertical
    .how-works-item
      &:before
        color: $colorLigther

.how-works
  &-white-items
    .how-works-item-inner
      border-color: $borderColor
      box-shadow: $whyUsShadow
      border-radius: $borderRadius8

  &-vertical
    .how-works-item
      &:after
        border-color: $colorLigther
//END how it works

//cta
.cta1
  &-bottom
    .cta1-wrap
      background: url('../img/master/cta-bnr/cta1/cta1-bottom.svg') no-repeat bottom right
      background-size: auto 100%

      @media (max-width: $screen-lg)
        background: url('../img/master/cta-bnr/cta1/cta1-bottom-responsive.svg') no-repeat
        background-size: 280px auto
        background-position: bottom right

      @media (max-width: $screen-sm)
        background-size: 180px auto
        background-position: bottom right -25px

  &-top
    .cta1-wrap
      background: url('../img/master/cta-bnr/cta1/cta1-top-bg.svg') no-repeat bottom right
      background-color: $ctaTopBG
      border-color: $ctaTopBorder

      @media (max-width: $screen-sm)
        background-image: none

      &:after
        content: ''
        background: url('../img/master/cta-bnr/cta1/cta1-top.svg') no-repeat bottom right
        background-size: contain
        width: 450px
        height: 100%
        @media (min-width: $screen-md)
          position: absolute
          bottom: 0
          right: 20px

        @media (max-width: $screen-lg)
          width: 250px

        @media (max-width: $screen-sm)
          display: block
          height: 180px
          margin-bottom: -20px


  &-middle
    .cta1-wrap
      background: url('../img/master/cta-bnr/cta1/cta1-middle.png') no-repeat bottom right 7%
      background-size: auto 100%
      background-color: $colorMain
      border-color: $ctaTopBorder

      @media (max-width: $screen-lg)
        background-position: bottom right
        background-size: 209px

      @media (max-width: $screen-lg)
        padding-bottom: 130px

    .cta1-btn
      background-color: $colorWhite
      color: $colorMain

    .cta1-text, .cta1-caption
      color: $colorWhite

    .cta1-inside
      position: absolute
      right: 115px
      margin-top: -10px
      font-size: $font-size-44

      @media (max-width: $screen-lg)
        font-size: $font-size-16
        max-width: 76px
        right: 38px
        bottom: 30px

    .btn-arrow-right
      &:after
        background-image: url(../img/master/btns/arrow-long-main-col.svg)


  &-bottom
    .cta1-wrap
      background-color: $ctaTopBG
      border-color: $colorMain

    .cta1-inside
      padding-right: 35px
      background: url('../img/master/cta-bnr/cta1/cta1-middle-inside.svg') no-repeat center right

.cta-bg-dots
  &.cta1-middle, &.cta2-present
    .cta-wrap-inner
      position: relative

      &:before, &:after
        content: ''
        position: absolute
        width: 32px
        height: 70px
        z-index: 1

      &:before
        background: url('../img/master/cta-bnr/cta1/cta1-middle-dot.svg') no-repeat center
        top: 32px
        left: 0

      &:after
        background: url('../img/master/cta-bnr/cta1/cta1-middle-dot.svg') no-repeat center
        bottom: 32px
        right: 0


.cta2
  .cta2-body
    &-bottom
      border-color: $borderColor

  &-two-cols
    .cta2-body
      border-color: $borderColor

  &-present
    .cta2-body
      background: url('../img/master/cta-bnr/cta2/cta2-present-bg.png') no-repeat
      background-color: $ctaTopBG
      border-color: $ctaTopBorder
      background-size: 100% auto
      background-position: bottom -120px left -60px

      &-row
        &:before
          background: url('../img/master/cta-bnr/cta2/icons_circle-check-fill.svg') no-repeat
//END cta

//FAQ
.accordion > .card:not(:last-of-type)
  border-bottom-color: $borderColor
  border-top-color: $borderColor

.faq-plus, .faq-long-arrow
  .card
    border-color: $borderColor

    &.active
      .card-header
        background: transparent

  .collapse-toggle-icon
    background: $faqPlusBg

    &:before
      color: $colorMain

.faq-plus
  .card
    &-header
      background: $faqBg


.faq-long-arrow
  .collapse-toggle-icon
    &:before
      background: url("../img/master/faq/icon-arrow-down.svg") no-repeat center
      background-size: contain
      //color: $colorMain


.faq-left-arrow
  .card
    border-color: $borderColor

    .collapse-toggle-icon
      color: $faqArrow

    &.active
      .collapse-toggle-icon
        background: url("../img/master/faq/triangle-active.svg") no-repeat center
//END FAQ

//Related services
.services:not(.services-radius)
  .services-nav
    border-color: $borderColor
    align-items: center

.services
  &-nav
    &:before
      background: url("../img/master/related-services/arrow-left.svg") center no-repeat
      //color: $colorMedium

.services-radius
  .services
    &-nav
      border-color: $borderColor
      box-shadow: 0px 10px 40px $shadowRelativePosts

.services-square
  .services
    &-wrap
      border-color: $borderColor

    &-nav
      &:before
        background: url("../img/master/related-services/caret_down.svg") no-repeat center


//END Related services

//our writers
.carousel-experts-item
  border-color: $borderColor
//box-shadow: 0px 10px 40px $shadowRelativePosts

.experts-head-img
  border-color: $borderColor

.slider-middle
  .experts-competences-section
    border-color: $borderColor

.experts-info-footer
  border-color: $borderColor

.owl-carousel
  .owl-nav
    button
      &.owl-prev, &.owl-next
        background: $navSliderBG

.slider-middle
  .carousel-head-item
    background: $bodyBg
    border-color: $borderColor


.slider-top
  .carousel-star-item
    background: $ratingGreenBG

  .experts-competences-item
    background: $colorBlueLigth
    border: 1px solid $borderColor


.slider-bottom
  .experts-info-inner
    border-color: $borderColor
    margin-right: 70px

  .experts-info-footer
    border-color: $borderColor

.owl-carousel
  &:not(.slider-bottom)
    .experts-info-footer
      border-color: $borderColor
//END our writers

//samples
.badge
  background: $badgeBG

.slider
  &-samples
    &-top
      .carousel-experts-item
      padding-top: 14px

      &:before
        background-color: $colorGreyLight


.slider
  &-samples
    &-middle
      .sample-title
      &:before
        background-color: $colorGreyLight

    .sample
      &-info
        border-color: $colorGreyMeddium

.btn
  &-download
    &:after
      background: url(../img/master/btns/download-arrow.svg) no-repeat center
      //background-color: $colorMain
//END samples

//testimonials
.slider-testimonials
  &:not(.testimonials-middle)
    .carousel-experts-item
      border-color: $borderColor

      //&:before
        background-color: $borderColor

.testimonials
  &-middle
    .carousel-experts-item
    &:before
      border-top-color: $borderColor

.h2-imgs
  &:before, &:after
    @media (min-width: $screen-md)
      content: ''
      width: 62px
      height: 62px
      display: inline-block
      position: relative

.h2-imgs
  &:before
    @media (min-width: $screen-md)
      margin-right: 40px
      top: 20px
      background: url("../img/master/testimonials/star.svg") no-repeat center

.h2-imgs
  &:after
    @media (min-width: $screen-md)
      margin-left: 40px
      top: 45px
      background: url("../img/master/testimonials/heart2.png") no-repeat center

//END testimonials

//seo tabs
.seo-tabs
  .nav-tabs--left
    .nav-item
      background: $tabsBg

.sidebar-block .nav-tabs--vertical
  .nav-item
    &:last-child .nav-link

    .nav-link
      &.active
        background: $tabsBgActive

        &:before
          background: $tabsBorderActive
//END seo tabs

//spoiler
.spoiler-wrap
  ul
    li
      list-style-image: url(../img/master/list/list-bulet.svg)

.btn_read_more
  .circle
    background: $colorReadMoreBtn
    color: $colorMain

//END spoiler

//footer
.footer
  &-row
    border-color: $borderColor

.btn-group-language
  .btn
    background: $dropdownBG

.social-media
  &-item
    background-color: $socialBtnsBG

.icon-accept
  .accept-img
    background: $colorWhite
    border-color: $borderColor
//END footer

//chart
.label_studdit
  .label_color
    background: $chartsMainColor

.q-graph
  .studdit_stat
    background-color: $chartsMainColor

.q-graph
  .st_st
    .discounted
      background: $chartsDiscColor

      .down_icon
        border-color: $chartsBorderColor

        &:before
          background: url(../img/master/faq/icon-arrow-down.svg) no-repeat center
          //background-color: $chartsMainColor

.landing_price .prices_tabs .nav-pills .nav-link.active, .nav-pills .show > .nav-link
  background-color: $chartsMainColor2

//END chart

//calc
.calc-new
  .btn-secondary
    //&:focus, &:hover
      background: $chartsMainColor2

  .btn-group-toggle .btn-custom.active
    background: $chartsMainColor2

  .wrap-inline-block .btn-group-toggle .btn-custom
    &.active
      background: $chartsMainColor2

.calc-new
  .input-group-addon
    background-color: $chartsMainColor2

  .btn-deadline-picker
    .deadline-button-active.btn
      background: $chartsMainColor2

  .bootstrap-datetimepicker-widget
    .datetimepicker-confirm
      background: $colorMain

      &:hover
        background: $chartsMainColor2

.info-tooltip-wrap
  tr td:first-child
    background: $chartsMainColor2

.bootstrap-datetimepicker-widget
  .table-condensed
    .btn-primary
      border: none
      background: $chartsMainColor2

.datepricker-new-addon
  .datetimepicker-confirm
    background: $colorMain

.btn-procide-calc
  background: $colorMain
  &:hover
    background: $colorMain

.datepricker-new-addon
  .bootstrap-datetimepicker-widget
    .picker-switch td
      span, i
        background: $chartsMainColor2

  table td
    &.active
      background: $chartsMainColor2 !important

      &:hover
        background: $chartsMainColor2 !important

.select2-container--default .select2-results__group
  color: $chartsMainColor2