<footer class="mt-140">
    <div class="container">
        <div class="footer-row row no-gutters">
            <div class="footer-logo-col col-12 col-lg-3">
                <img src="./img/logo.svg" class="logo" alt="">
                <div class="social-media">
                    <a class="social-media-instagram social-media-item"></a>
                    <a class="social-media-facebook social-media-item"></a>
                    <a class="social-media-tiktok social-media-item"></a>
                    <a class="social-media-youtube social-media-item"></a>
                </div>
                <div class="btn-group-language btn-group dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        UK
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" data-value="uk">UK</a>
                        <a class="dropdown-item" data-value="us">ES</a>
                    </div>
                </div>
            </div>

            <div class="footer-col col-12 col-lg-3">
                <div class="footer-menu-caption">Company</div>
                <ul class="footer-menu menu">
                    <li class="menu-item"><a href="#">About us</a></li>
                    <li class="menu-item"><a href="#">Prices</a></li>
                    <li class="menu-item"><a href="#">Order</a></li>
                </ul>
            </div>
            <div class="footer-col col-12 col-lg-3">
                <div class="footer-menu-caption">Community</div>
                <ul class="footer-menu menu">
                    <li class="menu-item"><a href="#"> FAQ</a></li>
                    <li class="menu-item"><a href="#">Reviews</a></li>
                    <li class="menu-item"><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="footer-col col-12 col-lg-3">
                <div class="footer-menu-caption">Info</div>
                <ul class="footer-menu menu">
                    <li class="menu-item"><a href="#">Privacy policy</a></li>
                    <li class="menu-item"><a href="#">Terms of use</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-row-second footer-row row no-gutters">
            <div class="footer-second-col col-12 col-lg">
                <div class="footer-menu-caption">Services</div>
                <ul class="footer-menu menu">
                    <li class="menu-item"><a href="#">College Essay Help</a></li>
                    <li class="menu-item"><a href="#">Custom Writing</a></li>
                    <li class="menu-item"><a href="#"> Rewrite My Essay</a></li>
                    <li class="menu-item"><a href="#">Best Essay Editor</a></li>
                    <li class="menu-item"><a href="#">Buy Essay</a></li>
                    <li class="menu-item"><a href="#"> Blog</a></li>
                    <li class="menu-item"><a href="#">Essay Helper</a></li>
                    <li class="menu-item"><a href="#">Dissertation Writing Service</a></li>
                    <li class="menu-item"><a href="#">Academic Essay Help</a></li>
                </ul>
            </div>

            <div class="stores-col">
                <a href="#"><img src="./img/general-imgs/payment/appstore.svg" alt=""></a>
                <a href="#"><img src="./img/general-imgs/payment/googleplay.svg" alt=""></a>
            </div>
        </div>

        <div class="footer-row-last footer-row row no-gutters">
            <div class="copyright-item">
                © 2021 CheapWriting.Services. All rights reserved
            </div>
            <div class="icon-accept">
                <div class="accept-img">
                    <img src="./img/general-imgs/payment/visa.svg" alt="Visa">
                </div>
                <div class="accept-img">
                    <img src="./img/general-imgs/payment/mastercard.svg" alt="MasterCard">
                </div>
                <div class="accept-img">
                    <img src="./img/general-imgs/payment/american-express.svg" alt="American Express">
                </div>
                <div class="accept-img">
                    <img src="./img/general-imgs/payment/discover.svg" alt="Discover">
                </div>
            </div>
            <button class="scrolltop" type="button">Back to top</button>
        </div>
    </div>
</footer>

<script src="./libs/jquery/dist/jquery.min.js"></script>
<script defer src="./libs/moment/moment.js"></script>
<script defer src="./libs/select2/select2.min.js"></script>
<script defer src="./libs/bootstrap/bootstrap.bundle.min.js"></script>
<script defer src="./libs/owlcarousel/owl.carousel.min.js"></script>
<script defer src="./libs/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script defer src="./libs/jscrollpane/jquery.jscrollpane.min.js"></script>
<script defer src="./libs/jscrollpane/jquery.mousewheel.js"></script>

<script defer src="./js/home-calculator.js"></script>
<script defer src="./js/common.js"></script>

</body>
</html>
